@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

dialog {
  border: none;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont Heavy.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Repeater";
  src: url("../fonts/Repeater-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Ducine";
  src: url("../fonts/ducine.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "JournalSans";
  src: url("../fonts/JournalSans.ttf");
  font-weight: 400;
}
.menu {
  position: fixed;
  z-index: 10000;
  top: 45%;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.menu.scrolled {
  opacity: 1;
  top: 1rem; /* змініть на висоту, на яку ви хочете перемістити текст */
}
.menu__btn {
  z-index: 3;
  display: block;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: "ducine";
  font-size: 1.8rem;
  position: relative;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
  cursor: pointer;
}
.menu__btn::before, .menu__btn::after {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 5.2rem;
  color: black;
  content: "|";
  position: absolute;
  left: -50%; /* Position from the left center */
  top: 50%; /* Position from the top center */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /* Rotate and center the pseudo-elements */
}
.menu__btn.closed::before {
  left: -75%;
}
.menu__btn.opened::after {
  -webkit-transform: translate(-59%, -50%) rotate(-45deg);
  -ms-transform: translate(-59%, -50%) rotate(-45deg);
  transform: translate(-59%, -50%) rotate(-45deg);
}
.menu__btn.opened::before {
  -webkit-transform: translate(-41%, -50%) rotate(45deg);
  -ms-transform: translate(-41%, -50%) rotate(45deg);
  transform: translate(-41%, -50%) rotate(45deg);
}
.menu__nav {
  -webkit-transition: top 2s;
  -o-transition: top 2s;
  transition: top 2s;
  position: fixed;
  left: 0;
  width: 50%;
  height: 100vh;
  z-index: 2;
  padding: 2.4rem 2.4rem 0 10rem;
  background-color: white;
  opacity: 0;
}
.menu__nav.opened {
  top: 0;
}
.menu__nav.closed {
  top: -100vh;
}
.menu__nav__title {
  font-family: "Mont", "Arial Narrow Bold", sans-serif;
  font-size: 8.4rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  color: #ccc;
}
.menu__nav__title div:last-child {
  text-align: right;
}
.menu__nav__item {
  position: relative;
  display: block;
  padding-bottom: 1.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "ducine";
  font-size: 3.6rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.menu__nav__item:hover {
  margin-left: 3.6rem;
}
.menu__nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 1.5px;
  background-color: black;
  -webkit-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.menu__nav__item:hover::after {
  width: 100%;
}
.menu__nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  -webkit-transition: height 3s;
  -o-transition: height 3s;
  transition: height 3s;
}
.menu__nav__item.opened::before {
  height: 0;
}
.menu__nav__hr {
  height: 1.5px;
  background-color: black;
  border: none;
  margin-left: 16%;
  margin-top: 1.8rem;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.closed > .menu__nav__hr {
  margin-left: 100%;
}
.menu__nav__contact-us {
  font-family: "ducine";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.8rem;
  letter-spacing: 1px;
  /*margin-top: 1.8rem;*/
  position: absolute;
  bottom: 2.4rem;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.closed > .menu__nav__contact-us {
  -webkit-transform: translateY(200vh);
  -ms-transform: translateY(200vh);
  transform: translateY(200vh);
}

@-moz-document url-prefix() {
  .menu__btn::after {
    transform: translate(-63%, -50%) rotate(-45deg);
  }
}
@-webkit-keyframes menuMobileBtnOpenningLines {
  10% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    gap: -1px;
  }
  100% {
    gap: -1px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes menuMobileBtnOpenningLines {
  10% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    gap: -1px;
  }
  100% {
    gap: -1px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes menuMobileBtnOpenningFirstLine {
  5% {
    background-color: #fff !important;
    position: fixed;
    width: 1000px;
    top: 50%;
    height: 3px;
  }
  10% {
    background-color: #fff !important;
    position: fixed;
    left: -850px;
    height: 3px;
    width: 1000px;
    top: 50%;
  }
  90% {
    display: none;
    position: fixed;
    left: -850px;
    height: 200vh;
    width: 1000px;
    top: 50%;
  }
  100% {
    display: none;
  }
}
@keyframes menuMobileBtnOpenningFirstLine {
  5% {
    background-color: #fff !important;
    position: fixed;
    width: 1000px;
    top: 50%;
    height: 3px;
  }
  10% {
    background-color: #fff !important;
    position: fixed;
    left: -850px;
    height: 3px;
    width: 1000px;
    top: 50%;
  }
  90% {
    display: none;
    position: fixed;
    left: -850px;
    height: 200vh;
    width: 1000px;
    top: 50%;
  }
  100% {
    display: none;
  }
}
@-webkit-keyframes menuMobileBtnOpenningLastLine {
  5% {
    background-color: #fff !important;
    position: fixed;
    width: 1000px;
    bottom: 50%;
    height: 3px;
  }
  10% {
    background-color: #fff !important;
    position: fixed;
    left: -850px;
    height: 3px;
    width: 1000px;
    bottom: 50%;
  }
  90% {
    display: none;
    position: fixed;
    left: -850px;
    height: 100vh;
    width: 1000px;
    bottom: 50%;
  }
  100% {
    display: none;
  }
}
@keyframes menuMobileBtnOpenningLastLine {
  5% {
    background-color: #fff !important;
    position: fixed;
    width: 1000px;
    bottom: 50%;
    height: 3px;
  }
  10% {
    background-color: #fff !important;
    position: fixed;
    left: -850px;
    height: 3px;
    width: 1000px;
    bottom: 50%;
  }
  90% {
    display: none;
    position: fixed;
    left: -850px;
    height: 100vh;
    width: 1000px;
    bottom: 50%;
  }
  100% {
    display: none;
  }
}
@-webkit-keyframes menuMobileBtnOpenningNav {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}
@keyframes menuMobileBtnOpenningNav {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes menuMobileBtnClosingNav {
  0% {
    opacity: 1;
    top: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100vh;
  }
}
@keyframes menuMobileBtnClosingNav {
  0% {
    opacity: 1;
    top: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100vh;
  }
}
.menu__mobile {
  position: fixed;
  z-index: 10000;
  right: 2rem;
  top: 1.2rem;
  z-index: 10002;
  display: none;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.menu__mobile.scrolled {
  opacity: 1;
  top: 1rem;
}
.menu__mobile__btn {
  color: #fff;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: "ducine";
  font-size: 2.4rem;
  line-height: 10px;
  position: relative;
  cursor: pointer;
}
.menu__mobile__btn__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menu__mobile__btn__lines .btn__line {
  height: 2px;
  width: 24px;
  background-color: #fff;
}
.menu__mobile__btn.opened .menu__mobile__btn__lines {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-animation-name: menuMobileBtnOpenningLines;
  animation-name: menuMobileBtnOpenningLines;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.menu__mobile__btn.opened .btn__line:first-child {
  -webkit-animation-name: menuMobileBtnOpenningFirstLine;
  animation-name: menuMobileBtnOpenningFirstLine;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.menu__mobile__btn.opened .btn__line:last-child {
  -webkit-animation-name: menuMobileBtnOpenningLastLine;
  animation-name: menuMobileBtnOpenningLastLine;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.menu__mobile__nav {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2.4rem 2.4rem 0 10rem;
  background-color: white;
  -webkit-transition: top 2s, left 1s;
  -o-transition: top 2s, left 1s;
  transition: top 2s, left 1s;
  opacity: 0;
  top: -100vh;
}
.menu__mobile__nav.opened {
  opacity: 1;
  -webkit-animation-name: menuMobileBtnOpenningNav;
  animation-name: menuMobileBtnOpenningNav;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.menu__mobile__nav.closed {
  -webkit-animation-name: menuMobileBtnClosingNav;
  animation-name: menuMobileBtnClosingNav;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.menu__mobile__nav .menu__mobile__nav__rolled-txt {
  -webkit-transition: right 2s;
  -o-transition: right 2s;
  transition: right 2s;
  opacity: 0;
  position: absolute;
  right: 15%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  background: none;
  border: none;
}
.menu__mobile__nav .menu__mobile__nav__rolled-txt > img {
  max-height: 90vh;
  width: 80%;
  margin-right: 0;
  transform: translateX(-10%);
}
.menu__mobile__nav .menu__mobile__nav__rolled-txt::after {
  position: absolute;
  right: -120%;
  top: -30%;
  color: #fff;
  content: "< back";
  font-size: 2.4rem;
  text-transform: uppercase;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
  text-orientation: upright;
}
.menu__mobile__nav.rolled-up {
  opacity: 1;
  left: -90%;
  top: 0px;
  text-align: right;
  color: black;
}
.menu__mobile__nav.rolled-up .menu__mobile__nav__rolled-txt {
  right: 5%;
  opacity: 1;
}
.menu__mobile__nav.rolled-down {
  opacity: 1;
  top: 0;
}
.menu__mobile__nav__item {
  position: relative;
  display: block;
  padding-bottom: 1.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "ducine";
  font-size: 4.2rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.menu__mobile__nav__contact-us {
  font-family: "ducine";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.8rem;
  letter-spacing: 1px;
  /*margin-top: 1.8rem;*/
  position: absolute;
  bottom: 2.4rem;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.grid__left {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  z-index: 9999;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.grid__left::-webkit-scrollbar {
  /* Chrome, Safari, and Opera */
  display: none;
}
.grid__right {
  position: fixed;
  position: fixed;
  left: 50%;
  right: 0;
}

.logo {
  z-index: 10000;
  position: fixed;
  top: 2.6rem;
  left: 25%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.logo.scrolled, .logo.moved {
  -webkit-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
  left: 50%;
}
.logo__img {
  width: 30rem;
}

.massege_was_sent {
  position: fixed;
  z-index: 999999;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  font-family: "ducine";
  font-size: 8.4rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 1rem;
}
.massege_was_sent.opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.massege_was_sent__close_btn {
  margin-top: 4.2rem;
  font-size: 3.2rem;
  padding: 0.6rem 5.2rem !important;
}
.massege_was_sent__text {
  text-transform: uppercase;
}

.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.main__right {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  z-index: 1;
  width: 50%;
  height: 100vh;
  pointer-events: none;
}
.main__right .icon {
  position: absolute;
  color: #fff;
  font-size: 4.2rem;
}
.main__right .map-icon {
  position: fixed;
  right: 1.8rem;
  top: 1.2rem;
  z-index: 1000;
  cursor: pointer;
  pointer-events: auto;
}
.main__right .sotial_networks {
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.8rem;
  bottom: 1.8rem;
  left: 1.2rem;
  z-index: 1000;
}
.main__right .ph-facebook-logo {
  cursor: pointer;
}
.main__right .ph-instagram-logo {
  cursor: pointer;
}

.get_in_touch {
  pointer-events: auto;
  width: 100%;
  -webkit-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
  position: relative;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
}
.get_in_touch__btn {
  font-family: "Ducine";
  font-weight: 400;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  position: fixed;
  right: 3rem;
  cursor: pointer;
}
.get_in_touch.opened > .get_in_touch__btn {
  bottom: 75%;
}
.get_in_touch.closed > .get_in_touch__btn {
  bottom: 2.2rem;
}
.get_in_touch__form {
  -webkit-transition: opacity 3s, -webkit-transform 2s;
  transition: opacity 3s, -webkit-transform 2s;
  -o-transition: transform 2s, opacity 3s;
  transition: transform 2s, opacity 3s;
  transition: transform 2s, opacity 3s, -webkit-transform 2s;
  text-align: right;
  -webkit-transform: translateY(15%);
  -ms-transform: translateY(15%);
  transform: translateY(15%);
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.get_in_touch__form input::-webkit-input-placeholder, .get_in_touch__form textarea::-webkit-input-placeholder {
  display: block;
  width: 100%;
  background-color: rgba(37, 37, 37, 0.5);
  color: #fff;
  text-align: right;
  padding: 1rem;
  overflow: hidden;
  border: none;
  border-bottom: 2px solid #fff;
  position: relative;
  border-radius: 0;
  font-size: 2.2rem;
  font-family: "repeater";
  border-collapse: hidden;
}
.get_in_touch__form input::-moz-placeholder, .get_in_touch__form textarea::-moz-placeholder {
  display: block;
  width: 100%;
  background-color: rgba(37, 37, 37, 0.5);
  color: #fff;
  text-align: right;
  padding: 1rem;
  overflow: hidden;
  border: none;
  border-bottom: 2px solid #fff;
  position: relative;
  border-radius: 0;
  font-size: 2.2rem;
  font-family: "repeater";
  border-collapse: hidden;
}
.get_in_touch__form input:-ms-input-placeholder, .get_in_touch__form textarea:-ms-input-placeholder {
  display: block;
  width: 100%;
  background-color: rgba(37, 37, 37, 0.5);
  color: #fff;
  text-align: right;
  padding: 1rem;
  overflow: hidden;
  border: none;
  border-bottom: 2px solid #fff;
  position: relative;
  border-radius: 0;
  font-size: 2.2rem;
  font-family: "repeater";
  border-collapse: hidden;
}
.get_in_touch__form input::-ms-input-placeholder, .get_in_touch__form textarea::-ms-input-placeholder {
  display: block;
  width: 100%;
  background-color: rgba(37, 37, 37, 0.5);
  color: #fff;
  text-align: right;
  padding: 1rem;
  overflow: hidden;
  border: none;
  border-bottom: 2px solid #fff;
  position: relative;
  border-radius: 0;
  font-size: 2.2rem;
  font-family: "repeater";
  border-collapse: hidden;
}
.get_in_touch__form input, .get_in_touch__form select, .get_in_touch__form option, .get_in_touch__form textarea, .get_in_touch__form input::placeholder, .get_in_touch__form textarea::placeholder {
  display: block;
  width: 100%;
  background-color: rgba(37, 37, 37, 0.5);
  color: #fff;
  text-align: right;
  padding: 1rem;
  overflow: hidden;
  border: none;
  border-bottom: 2px solid #fff;
  position: relative;
  border-radius: 0;
  font-size: 2.2rem;
  font-family: "repeater";
  border-collapse: hidden;
}
.get_in_touch__form input::-webkit-input-placeholder, .get_in_touch__form textarea::-webkit-input-placeholder {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.get_in_touch__form input::-moz-placeholder, .get_in_touch__form textarea::-moz-placeholder {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.get_in_touch__form input:-ms-input-placeholder, .get_in_touch__form textarea:-ms-input-placeholder {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.get_in_touch__form input::-ms-input-placeholder, .get_in_touch__form textarea::-ms-input-placeholder {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.get_in_touch__form input::placeholder, .get_in_touch__form textarea::placeholder {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.get_in_touch__form__submit {
  cursor: pointer;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 1rem 1rem 1rem 5.6rem !important;
  margin-left: auto;
  -webkit-transform: translateX();
  -ms-transform: translateX();
  transform: translateX();
}
.get_in_touch.closed > .get_in_touch__form {
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%);
}

.black-btn {
  color: #fff;
  border-radius: 0;
  border: 2px solid white;
  background-color: rgba(60, 60, 60, 0.5);
  font-family: "Ducine";
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.2rem 2.2rem 0.6rem;
}
.black-btn:hover {
  background-color: rgba(107, 107, 107, 0.5);
}
.black-btn:active {
  background-color: rgba(152, 152, 152, 0.5);
}

.bg-bottom {
  background-position: bottom !important;
}

.get_in_touch__reaction {
  -webkit-transition: background-position 2s;
  -o-transition: background-position 2s;
  transition: background-position 2s;
}

.get_in_touch__opened.slide2 > .slide2-slider {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide3 > .slide__text-box {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide4 > .slide__text-box {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide5 > .slide__text-box {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide6 > .slide__text-box {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide7 > .slide__text-box {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide8 > .slide__text-box {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide9 > .slide__text-box {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide10 > .slide__text-box {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide11 > .slide__text-box {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
}

.slider {
  height: 100vh;
  width: 100%;
  position: relative;
}

.slide1 {
  background-image: url("../sourse/img/city.png");
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.slide2 {
  background-image: url("../sourse/img/Right-background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}
.slide2-slider {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slide3 {
  background-image: url("../sourse/img/Permanent-Residence.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide4 {
  background-image: url("../sourse/img/Family-Sponsorrship.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide5 {
  background-image: url("../sourse/img/Study-Permits.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide6 {
  background-image: url("../sourse/img/Work-Permits.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide7 {
  background-image: url("../sourse/img/Visitor-Visas.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide8 {
  background-image: url("../sourse/img/Citizenship-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide9 {
  background-image: url("../sourse/img/Business-Immigration.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide10 {
  background-image: url("../sourse/img/PNP-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide11 {
  background-image: url("../sourse/img/Immigration-Refusals.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide11 .slide-tittle {
  margin-top: 8rem;
}

.slider-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
}

.slider__inside-slide {
  padding-right: 12rem;
  padding-left: 12rem;
}
.slider__inside-title {
  font-family: "Josefin Sans";
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3rem;
  color: white;
  max-width: 50rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
}
.slider__inside-text {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: white;
}
.slider__inside-text:last-child {
  margin-bottom: 0;
}
.slider__inside-list {
  margin-bottom: 3rem;
  margin-left: 2rem;
}
.slider__inside-item {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: white;
}

.slide2-slider {
  position: relative;
  width: 100%;
}

.slider__inside-prev {
  position: absolute;
  left: 10%;
  bottom: -7%;
  background: transparent;
  border: none;
  cursor: pointer;
  width: auto;
}
.slider__inside-next {
  position: absolute;
  right: 10%;
  bottom: -7%;
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  width: auto;
}

.inside-arrow--hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.content:not(#content1) {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.content {
  position: absolute;
  -webkit-transition: background-position 2s, -webkit-transform 1s;
  transition: background-position 2s, -webkit-transform 1s;
  -o-transition: transform 1s, background-position 2s;
  transition: transform 1s, background-position 2s;
  transition: transform 1s, background-position 2s, -webkit-transform 1s;
  margin-left: -0.1px;
}

.slide__text-box {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 2.2rem;
  padding: 13rem 3.6rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.slide-tittle {
  font-size: 5.4rem;
  margin-bottom: 2.6rem;
  font-family: "Mont";
  position: relative;
}
.slide-tittle::after {
  content: ".";
  font-size: 1;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  left: -500%;
  bottom: -6px;
  width: 20%;
  height: 2.4px;
  background-color: rgb(255, 0, 0);
  -webkit-transition: width 0.5s ease, left 1s;
  -o-transition: width 0.5s ease, left 1s;
  transition: width 0.5s ease, left 1s;
}
.slide-text {
  margin-bottom: 1.6rem;
  line-height: 2.4rem;
}
.slide__list-item {
  margin: 0 1.6rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  position: relative;
}
.slide__list-item::before {
  content: "*";
  position: absolute;
  -webkit-transform: translateX(-14px);
  -ms-transform: translateX(-14px);
  transform: translateX(-14px);
}

.slide--active .slider-inside {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.slide--active .slider__inside-prev,
.slide--active .slider__inside-next {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.slide--active .slide__text-box {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.slide--active .slide-tittle::after {
  left: 0;
}

.slider-inside {
  opacity: 0;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all 1s, opacity 2s;
  -o-transition: all 1s, opacity 2s;
  transition: all 1s, opacity 2s;
}

.slider__inside-prev,
.slider__inside-next {
  opacity: 0;
  -webkit-transform: translateY(500%);
  -ms-transform: translateY(500%);
  transform: translateY(500%);
  -webkit-transition: all 1s, opacity 2s;
  -o-transition: all 1s, opacity 2s;
  transition: all 1s, opacity 2s;
}

.slide__text-box {
  opacity: 0;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all 1s, opacity 2s;
  -o-transition: all 1s, opacity 2s;
  transition: all 1s, opacity 2s;
}

.hero__text--mobile {
  display: none;
  opacity: 0;
}

.hero__arrow-btn--mobile {
  display: none;
  opacity: 0;
}

html {
  font-size: 62.5%;
}

*::-moz-selection {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.623);
}

*::selection {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.623);
}

.hero {
  height: 100vh;
  position: relative;
  margin-bottom: 6rem;
}
.hero__text {
  padding-top: 24rem;
  text-align: center;
  font-size: 3.6rem;
  font-family: "Ducine";
  padding-right: 5rem;
  padding-left: 5rem;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.hero__text.scrolled {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.hero__arrow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
  outline: none;
  position: absolute;
  bottom: 6.8rem;
  left: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: jump 0.5s infinite;
  animation: jump 0.5s infinite;
}
.hero__arrow-btn.scrolled {
  opacity: 0;
  bottom: 10rem;
}
.hero__arrow-img {
  width: 40px;
  height: 40px;
}

.testimonial {
  position: relative;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  margin-bottom: 30rem;
}
.testimonial .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.testimonial .slick-dots li {
  border-radius: 50%;
  margin-right: 0.9rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.testimonial .slick-dots li:last-child {
  margin-right: 0;
}
.testimonial .slick-dots li button {
  background: transparent;
  border: #ff0506 solid 0.16rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  cursor: pointer;
}
.testimonial .slick-dots li.slick-active {
  background-color: #ff0506;
}
.testimonial.scrolled {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.testimonial__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.testimonial__title {
  font-family: "Mont";
  font-size: 6rem;
  font-weight: 700;
  color: #7f7f7f;
  text-align: center;
  width: 42rem;
  margin-bottom: 6rem;
  text-transform: uppercase;
}
.testimonial__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.testimonial__text-box {
  width: 55rem;
  border: 1px solid #7f7f7f;
  border-right: none;
  padding: 3.5rem;
  margin-left: 1rem;
  margin-right: 2.2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.testimonial__text {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
}
.testimonial__quotes {
  font-family: "JournalSans";
  font-weight: 400;
  font-size: 15rem;
  letter-spacing: -3rem;
  position: absolute;
  top: -25px;
  right: -35px;
}
.testimonial__person-img {
  width: 8.8rem;
  height: 8.8rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.testimonial__person-text {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.testimonial__person-name {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 300;
}
.testimonial__person-country {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 600;
}

.services {
  margin-bottom: 30rem;
  padding: 2.6rem;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.services.scrolled {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.services__title {
  font-family: "Mont";
  font-size: 6rem;
  font-weight: 700;
  color: #7f7f7f;
  text-align: right;
  margin-bottom: 6rem;
  text-transform: uppercase;
  margin-bottom: 10rem;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.services__content-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  margin-bottom: 5.6rem;
}
.services__number {
  font-family: "Mont";
  font-size: 8.6rem;
  font-weight: 700;
  color: #333333;
  -webkit-transform: translateY(-67%);
  -ms-transform: translateY(-67%);
  transform: translateY(-67%);
}
.services__text {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 1.8rem;
  width: 14rem;
}
.services__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.services__btn {
  display: inline;
  text-decoration: none;
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border: 1px solid #e80d0d;
  background-color: rgba(232, 13, 13, 0.2);
  padding: 1.6rem 10.8rem;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.services__btn:hover {
  background-color: rgba(232, 13, 13, 0.3);
}
.services__btn:active {
  background-color: rgba(232, 13, 13, 0.4);
}

.advantages {
  margin-bottom: 7.5rem;
}
.advantages__title {
  font-family: "Mont";
  font-size: 5.2rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 6rem;
  text-transform: uppercase;
  margin-bottom: 9.8rem;
  padding-left: 7%;
}
.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 8rem;
}
.advantages__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13rem;
  margin-bottom: 7rem;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.advantages__content-box.scrolled {
  opacity: 1;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.advantages__icon-box {
  padding-right: 4rem;
}
.advantages__img {
  width: 4.2rem;
  height: 4.2rem;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
  -webkit-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
.advantages__img--open {
  opacity: 1;
}
.advantages__subtitle {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}
.advantages__text {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 2.2rem;
}

.accordion {
  display: none;
  opacity: 0;
}

.accordion-item {
  border: none;
  margin-bottom: 10px;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.accordion-header {
  background-color: transparent;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: #ff0506;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  position: relative;
}

.about {
  margin-bottom: 5rem;
}
.about__title {
  font-family: "Mont";
  font-size: 6rem;
  font-weight: 700;
  color: #7f7f7f;
  text-align: center;
  max-width: 42rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  transform: translateY(-50%);
}
.about__item {
  margin-top: 8rem;
  display: flex;
  margin-left: 8rem;
  border-bottom: 1px black solid;
  margin-right: 2rem;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.about__item.scrolled {
  opacity: 1;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.about__item:first-child {
  margin-top: 20rem;
}
.about__img {
  width: 25rem;
}
.about__text-box {
  margin-left: 5rem;
}
.about__subtitle {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
}
.about__text {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: black;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transform: translate();
    transform: translate();
  }
}
@keyframes jump {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transform: translate();
    transform: translate();
  }
}
/**************************/
/* BELOW 1500px */
/**************************/
@media (max-width: 93.75em) {
  .slider__inside-next img {
    width: 75%;
  }
  .slider__inside-prev img {
    width: 75%;
  }
  .menu__nav__title {
    margin-bottom: 3.6rem;
  }
  .menu__nav__item {
    padding-bottom: 0.8rem;
  }
  .menu__nav__contact-us {
    font-size: 4.2rem;
    bottom: 3.4rem;
  }
  .slide__text-box {
    padding: 13rem 1.6rem;
  }
  .slide__list-item {
    margin-left: 6rem;
  }
  .slide11 .slide-tittle {
    margin-top: 8rem;
    margin-bottom: 1.6rem;
  }
  .slide-text {
    margin-bottom: 0.6rem;
  }
  .slide__text-box {
    font-size: 1.9rem;
  }
  .menu__nav__title {
    font-size: 6.4rem;
    margin-bottom: 1rem;
  }
}
/**************************/
/* BELOW 1300px */
/**************************/
@media (max-width: 81.25em) {
  html {
    font-size: 56.25%;
  }
  .menu {
    top: 1.5%;
  }
  .slider__inside-next {
    right: 0;
    bottom: -9%;
  }
  .slider__inside-prev {
    left: 0;
    bottom: -9%;
  }
  .slider__inside-slide {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .slider__inside-next img {
    width: 70%;
  }
  .slider__inside-prev img {
    width: 70%;
  }
  .about__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .about__img {
    margin-bottom: 5rem;
  }
}
/**************************/
/* BELOW 1150px */
/**************************/
@media (max-width: 71.875em) {
  .testimonial__text-box {
    padding: 2rem;
    margin-right: 1rem;
  }
  .menu__nav__title {
    font-size: 6.4rem;
  }
  .testimonial__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .testimonial__text-box {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .testimonial__person-img {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 3rem;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
  }
  .testimonial__person-text {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 13rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .advantages__title {
    margin-bottom: 12.8rem;
    padding-left: 30%;
  }
  html {
    font-size: 50%;
  }
  .services__btn {
    margin: 0 auto;
  }
  .advantages__content-box {
    padding-left: 10rem;
  }
  .slider__inside-next img {
    width: 60%;
  }
  .slider__inside-prev img {
    width: 60%;
  }
  .slide-tittle {
    font-size: 5rem;
  }
  .menu__nav__item {
    padding-bottom: 0.5rem;
  }
  .slide-tittle {
    font-size: 4.4rem;
  }
  .slider__inside-title {
    font-size: 2.5rem;
  }
}
/**************************/
/* BELOW 1000px */
/**************************/
@media (max-width: 62.5em) {
  .testimonial__text-box {
    width: 45rem;
  }
  .services__content {
    padding-left: 0;
    padding-right: 0;
  }
  .slider__inside-next img {
    width: 40%;
  }
  .slider__inside-prev img {
    width: 40%;
  }
  .logo__img {
    width: 25rem;
  }
  .services__number {
    font-size: 7.6rem;
  }
  .services__text {
    font-size: 1.5rem;
  }
  .services {
    padding-left: 1rem;
  }
  .slider__inside-slide {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .menu__nav__title {
    font-size: 6rem;
  }
}
/**************************/
/* BELOW 850px */
/*MOBILE*/
/**************************/
@media (max-width: 53.125em) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid__right {
    position: static;
    left: auto;
    right: auto;
    -ms-grid-row: 1;
    grid-row: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
  }
  .main__right {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .logo {
    position: absolute;
    top: 10rem;
    left: 50%;
    z-index: 1;
  }
  .logo__img {
    width: 30rem;
  }
  .main__right .map-icon {
    position: absolute;
    right: auto;
    left: 1.8rem;
    height: 100vh;
  }
  .get_in_touch__btn {
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 0.2rem 2rem 0.5rem;
  }
  .get_in_touch {
    position: static;
  }
  .get_in_touch__form {
    position: absolute;
    -webkit-transform: none;
    -ms-transform: none;
    bottom: 15%;
    opacity: 1;
    width: 85%;
    height: 60vh;
    background-color: rgba(7, 7, 7, 0.49);
    border: 2px solid white;
    -webkit-transition: opacity 2s, -webkit-transform 2s;
    transition: opacity 2s, -webkit-transform 2s;
    -o-transition: transform 2s, opacity 2s;
    transition: transform 2s, opacity 2s;
    transition: transform 2s, opacity 2s, -webkit-transform 2s;
  }
  .get_in_touch__form input, .get_in_touch__form select, .get_in_touch__form option, .get_in_touch__form textarea, .get_in_touch__form input::placeholder, .get_in_touch__form textarea::placeholder {
    background-color: rgba(37, 37, 37, 0);
    border-bottom: 1px solid white;
  }
  .get_in_touch.closed > .get_in_touch__form {
    opacity: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    display: none;
    z-index: -1;
  }
  .get_in_touch.closed > .get_in_touch__btn {
    bottom: 10%;
    right: -5rem;
  }
  .get_in_touch.opened > .get_in_touch__btn {
    z-index: 1;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    bottom: 15%;
    right: 2rem;
    margin-right: 6.3%;
  }
  .hero {
    height: 90vh;
    position: absolute;
    top: 10%;
    pointer-events: none;
  }
  .hero__text {
    color: white;
    opacity: 1;
  }
  .hero__arrow-btn {
    border-color: white;
    pointer-events: auto;
  }
  .hero__arrow-img {
    width: auto;
  }
  .advantages__content-box {
    opacity: 1;
  }
  .advantages__img {
    opacity: 1;
  }
  .testimonial {
    margin-top: 30rem;
  }
  .testimonial__person-img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-transform: translate(-11rem, 30%);
    -ms-transform: translate(-11rem, 30%);
    transform: translate(-11rem, 30%);
  }
  .testimonial__person-text {
    margin: 0 auto;
  }
  .testimonial__slide {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .testimonial__text-box {
    margin-left: -6rem;
  }
  .services__content {
    padding-left: 3rem;
  }
  body {
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }
  /*menu mobile*/
  .menu {
    display: none;
  }
  .menu__mobile {
    display: block;
  }
  .testimonial__title {
    width: 100%;
  }
  .services__title {
    text-align: center;
  }
  .advantages__title {
    padding-left: 0;
    text-align: center;
  }
  .hero .hero__text {
    display: none;
    opacity: 0;
  }
  .hero .hero__arrow-btn {
    display: none;
    opacity: 0;
  }
  .hero__text--mobile {
    display: block;
    opacity: 1;
    padding-top: 35rem;
  }
  .hero__arrow-btn--mobile {
    display: flex;
    opacity: 1;
  }
  .logo {
    z-index: 10001;
  }
  .grid__right {
    z-index: 10000;
  }
  .get_in_touch__btn {
    position: fixed;
  }
  .main__right .map-icon {
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.8rem;
    width: 100vw;
  }
  .main__right .sotial_networks {
    position: fixed;
  }
  .header {
    background-color: rgba(255, 255, 255, 0.818);
  }
  .main__right .sotial_networks.social_network--header {
    flex-direction: row;
    top: 1.2rem;
    left: 6.2rem;
    height: fit-content;
  }
  .grid__left {
    transition: all 0.5s ease-in-out;
  }
  .accordion .slider__inside-slide {
    padding-right: 14rem;
    padding-left: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .accordion .slider-inside {
    opacity: 1;
  }
  .accordion .slider__inside-title,
  .accordion .slider__inside-text,
  .accordion .slider__inside-list,
  .accordion .slider__inside-item {
    color: black;
    text-align: justify;
    font-size: 2.2rem;
  }
  .accordion .slider__inside-title {
    font-size: 3rem;
  }
  .accordion .slider__inside-title {
    padding-top: 15rem;
    text-align: center;
    margin-bottom: 4rem;
  }
  .accordion .accordion-prev {
    background: transparent;
    border: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .accordion .accordion-next {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .services__btn {
    display: none;
    opacity: 0;
  }
  .accordion {
    display: block;
    opacity: 1;
  }
  .testimonial {
    margin-bottom: 15rem;
    margin-top: 15rem;
  }
  .testimonial .slick-arrow.slick-prev {
    position: absolute;
    bottom: -3%;
    right: 35%;
    z-index: 1;
    background: url("../sourse/img/arrow-left.svg") 0 0/100% no-repeat;
    font-size: 0;
    width: 5rem;
    height: 5rem;
    border: none;
  }
  .testimonial .slick-arrow.slick-next {
    position: absolute;
    bottom: -3%;
    right: 18%;
    z-index: 1;
    background: url("../sourse/img/arrow-right.svg") 0 0/100% no-repeat;
    font-size: 0;
    width: 5rem;
    height: 5rem;
    border: none;
  }
  .testimonial__slide {
    flex-direction: column-reverse;
  }
  .testimonial__person-img {
    transform: translate(-11rem, -30%);
    margin-left: -25%;
  }
  .testimonial__person-text {
    transform: translateY(90%);
    margin: 0;
    margin-left: 32%;
  }
  .testimonial__text-box {
    border: none;
    padding-left: 5rem;
    width: 60%;
  }
  .services {
    margin-bottom: 15rem;
  }
  .testimonial__quotes {
    top: -17px;
    right: -18px;
  }
  .get_in_touch.closed > .get_in_touch__btn {
    right: -6rem;
  }
  .get_in_touch.opened > .get_in_touch__btn {
    right: 1rem;
  }
  .menu__mobile__nav {
    padding-left: 7rem;
  }
  .about__text-box {
    margin-left: 0;
  }
  .about__item {
    position: relative;
    align-items: start;
  }
  .about__subtitle {
    position: absolute;
    right: 10%;
    top: 9%;
    max-width: 42rem;
  }
  .about__text {
    margin-right: 6rem;
  }
  .about__title {
    transform: translateY(80%);
  }
}
/**************************/
/* BELOW 700px */
/*MOBILE*/
/**************************/
@media (max-width: 43.75em) {
  .about__subtitle {
    max-width: 30rem;
  }
}
/**************************/
/* BELOW 600px */
/*MOBILE*/
/**************************/
@media (max-width: 37.5em) {
  .testimonial__slide {
    flex-direction: column-reverse;
  }
  .testimonial__person-img {
    transform: translate(-11rem, -30%);
    margin-left: -15rem;
  }
  .testimonial__person-text {
    transform: translateY(90%);
    margin: 0;
    margin-left: 32%;
  }
  .testimonial__text-box {
    border: none;
    padding-left: 5rem;
    width: 45rem;
  }
  .testimonial {
    margin-bottom: 15rem;
    margin-top: 15rem;
  }
  .testimonial .slick-arrow.slick-prev {
    position: absolute;
    bottom: -3%;
    right: 35%;
    z-index: 1;
    background: url("../sourse/img/arrow-left.svg") 0 0/100% no-repeat;
    font-size: 0;
    width: 5rem;
    height: 5rem;
    border: none;
  }
  .testimonial .slick-arrow.slick-next {
    position: absolute;
    bottom: -3%;
    right: 18%;
    z-index: 1;
    background: url("../sourse/img/arrow-right.svg") 0 0/100% no-repeat;
    font-size: 0;
    width: 5rem;
    height: 5rem;
    border: none;
  }
  .services__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services__content-box {
    justify-content: center;
  }
  .services__number {
    transform: translateY(-5%);
    font-size: 12rem;
    margin-right: 1rem;
  }
  .services__btn {
    width: 70%;
    padding: 1.6rem 0;
  }
  .services__text {
    font-size: 3.5rem;
    width: 60%;
  }
  .advantages__title {
    margin-bottom: 8rem;
  }
  .advantages__content-box {
    padding-left: 4rem;
  }
  .services {
    margin-bottom: 15rem;
  }
  .accordion .slider__inside-slide {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .about__subtitle {
    max-width: 30rem;
  }
  .about__item {
    margin-left: 3rem;
  }
}
/**************************/
/* BELOW 550px */
/*MOBILE*/
/**************************/
@media (max-width: 34.375em) {
  .about__subtitle {
    max-width: 20rem;
    right: 6%;
  }
}
/**************************/
/* BELOW 450px */
/*MOBILE*/
/**************************/
@media (max-width: 28.125em) {
  .about__subtitle {
    max-width: 15rem;
    right: 4%;
  }
}
/**************************/
/* BELOW 400px */
/*MOBILE*/
/**************************/
@media (max-width: 25em) {
  .hero__text--mobile {
    margin-top: -11rem;
  }
  .testimonial__text-box {
    width: 32rem;
  }
  .testimonial__person-img {
    margin-left: -8%;
  }
  .testimonial__title,
  .services__title,
  .advantages__title,
  .about__title {
    font-size: 5rem;
  }
  .services__text {
    font-size: 2.5rem;
  }
  .services__number {
    transform: translateY(-13%);
    font-size: 11rem;
  }
  .accordion-header {
    font-size: 2.5rem;
  }
  .accordion .slider__inside-title {
    font-size: 2.5rem;
    padding-top: 20rem;
  }
  .accordion .slider__inside-slide {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .accordion .accordion-prev {
    left: -4%;
  }
  .accordion .accordion-next {
    right: -4%;
  }
  .advantages__content {
    padding-right: 4.8rem;
  }
  .advantages__icon-box {
    padding-right: 2rem;
  }
  .advantages__content-box {
    padding-left: 2rem;
  }
  .logo {
    top: 7.5rem;
  }
  .get_in_touch__btn {
    padding: 0rem 1rem 0.5rem;
  }
  .get_in_touch.closed > .get_in_touch__btn {
    right: -5rem;
  }
  .advantages__title {
    padding: 0 2rem;
  }
  .testimonial__person-text {
    margin-left: 34%;
  }
  .about__subtitle {
    position: static;
    max-width: 100%;
    margin-right: 5rem;
  }
  .about__item {
    align-items: center;
  }
  .about__img {
    margin-right: 5rem;
  }
}/*# sourceMappingURL=main.css.map */