@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont Heavy.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Repeater";
  src: url("../fonts/Repeater-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Ducine";
  src: url("../fonts/ducine.ttf");
  font-weight: 400;
}
.menu {
  position: absolute;
}
.menu__btn {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "ducine";
  font-size: 1.8rem;
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.menu__btn::before, .menu__btn::after {
  transition: all 0.5s;
  font-size: 5.2rem;
  color: black;
  content: "|";
  position: absolute;
  left: -50%; /* Position from the left center */
  top: 50%; /* Position from the top center */
  transform: translate(-50%, -50%); /* Rotate and center the pseudo-elements */
}
.menu__btn.closed::before {
  left: -75%;
}
.menu__btn.opened::after {
  transform: translate(-59%, -50%) rotate(-45deg);
}
.menu__btn.opened::before {
  transform: translate(-41%, -50%) rotate(45deg);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  position: absolute;
  top: 2.6rem;
  left: 25%;
  transform: translateX(-50%);
}

.fixed {
  position: fixed;
  position: fixed;
  left: 50%;
  right: 0;
}

.main__right {
  background-image: url("../sourse/img/House.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.main__right .icon {
  position: absolute;
  color: #fff;
  font-size: 5rem;
}
.main__right .map-icon {
  right: 1.8rem;
  top: 1.2rem;
}
.main__right .sotial_networks {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  bottom: 1.8rem;
  left: 1.2rem;
}
.main__right .get_in_touch {
  position: absolute;
  bottom: 1.8rem;
  right: 1.2rem;
}

.black-btn {
  color: #fff;
  border-radius: 0;
  border: 2px solid white;
  background-color: rgba(80, 80, 80, 0.5);
  font-family: "ducine";
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0.2rem 2.2rem 0.6rem;
}

html {
  font-size: 62.5%;
}

.main__left {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.main__left::-webkit-scrollbar {
  /* Chrome, Safari, and Opera */
  display: none;
}
.main__left-box {
  height: 100vh;
  position: relative;
}
.main__left-box2 {
  height: 100vh;
  position: relative;
}
.main__left-text {
  padding-top: 22rem;
  text-align: center;
  font-size: 3.6rem;
  font-family: "Ducine";
  padding-right: 5rem;
  padding-left: 5rem;
}

.left__arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black; /* Додайте цей рядок */
  cursor: pointer;
  outline: none;
  position: absolute;
  bottom: 6.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.arrow__button-down {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=main.css.map */