@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

dialog {
  border: none;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont Heavy.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Repeater";
  src: url("../fonts/Repeater-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Ducine";
  src: url("../fonts/ducine.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "JournalSans";
  src: url("../fonts/JournalSans.ttf");
  font-weight: 400;
}
.menu {
  position: fixed;
  z-index: 10000;
  top: 45%;
  transition: all 0.7s;
}
.menu.scrolled {
  opacity: 1;
  top: 1rem; /* змініть на висоту, на яку ви хочете перемістити текст */
}
.menu__btn {
  z-index: 3;
  display: block;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: "ducine";
  font-size: 1.8rem;
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
}
.menu__btn::before, .menu__btn::after {
  transition: all 0.5s;
  font-size: 5.2rem;
  color: black;
  content: "|";
  position: absolute;
  left: -50%; /* Position from the left center */
  top: 50%; /* Position from the top center */
  transform: translate(-50%, -50%); /* Rotate and center the pseudo-elements */
}
.menu__btn.closed::before {
  left: -75%;
}
.menu__btn.opened::after {
  transform: translate(-59%, -50%) rotate(-45deg);
}
.menu__btn.opened::before {
  transform: translate(-41%, -50%) rotate(45deg);
}
.menu__nav {
  transition: top 2s;
  position: fixed;
  left: 0;
  width: 50%;
  height: 100vh;
  z-index: 2;
  padding: 2.4rem 2.4rem 0 10rem;
  background-color: white;
  opacity: 0;
}
.menu__nav.opened {
  top: 0;
}
.menu__nav.closed {
  top: -100vh;
}
.menu__nav__title {
  font-family: Mont Heavy, "Arial Narrow Bold", sans-serif;
  font-size: 8.4rem;
  font-weight: bolder;
  letter-spacing: 0.4rem;
  color: #ccc;
}
.menu__nav__title div:last-child {
  text-align: right;
}
.menu__nav__item {
  position: relative;
  display: block;
  padding-bottom: 1.4rem;
  width: fit-content;
  font-family: "ducine";
  font-size: 3.6rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 1s;
}
.menu__nav__item:hover {
  margin-left: 3.6rem;
}
.menu__nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 1.5px;
  background-color: black;
  transition: width 0.5s ease;
}
.menu__nav__item:hover::after {
  width: 100%;
}
.menu__nav__hr {
  height: 1.5px;
  background-color: black;
  border: none;
  margin-left: 16%;
  margin-top: 1.8rem;
  transition: all 1s ease;
}
.closed > .menu__nav__hr {
  margin-left: 100%;
}
.menu__nav__contact-us {
  font-family: "ducine";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.8rem;
  letter-spacing: 1px;
  /*margin-top: 1.8rem;*/
  position: absolute;
  bottom: 2.4rem;
  transition: all 2s;
}
.closed > .menu__nav__contact-us {
  transform: translateY(200vh);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid__left {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  z-index: 9999;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.grid__left::-webkit-scrollbar {
  /* Chrome, Safari, and Opera */
  display: none;
}
.grid__right {
  position: fixed;
  position: fixed;
  left: 50%;
  right: 0;
}

.logo {
  z-index: 10000;
  position: fixed;
  top: 2.6rem;
  left: 25%;
  transform: translateX(-50%);
  transition: all 0.7s ease-in-out;
}
.logo.scrolled, .logo.moved {
  transform: translateX(10%);
  left: 50%;
}
.logo__img {
  width: 30rem;
}

.massege_was_sent {
  position: fixed;
  z-index: 999999;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  font-family: "ducine";
  font-size: 8.4rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
.massege_was_sent.opened {
  display: flex;
}
.massege_was_sent__close_btn {
  margin-top: 4.2rem;
  font-size: 3.2rem;
  padding: 0.6rem 5.2rem !important;
}
.massege_was_sent__text {
  text-transform: uppercase;
}

.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.main__right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
}
.main__right .icon {
  position: absolute;
  color: #fff;
  font-size: 4.2rem;
}
.main__right .map-icon {
  right: 1.8rem;
  top: 1.2rem;
  z-index: 1000;
  cursor: pointer;
}
.main__right .sotial_networks {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  bottom: 1.8rem;
  left: 1.2rem;
  z-index: 1000;
}
.main__right .ph-facebook-logo {
  cursor: pointer;
}
.main__right .ph-instagram-logo {
  cursor: pointer;
}

.get_in_touch {
  width: 100%;
  transition: all 3s;
  z-index: 1000;
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get_in_touch__btn {
  transition: all 2s ease;
  position: fixed;
  right: 3rem;
  cursor: pointer;
}
.get_in_touch.opened > .get_in_touch__btn {
  bottom: 70%;
}
.get_in_touch.closed > .get_in_touch__btn {
  bottom: 2.2rem;
}
.get_in_touch__form {
  transition: transform 2s, opacity 3s;
  text-align: right;
  transform: translateY(15%);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get_in_touch__form input, .get_in_touch__form select, .get_in_touch__form option, .get_in_touch__form textarea, .get_in_touch__form input::placeholder, .get_in_touch__form textarea::placeholder {
  display: block;
  width: 100%;
  background-color: rgba(37, 37, 37, 0.5);
  color: #fff;
  text-align: right;
  padding: 1rem;
  overflow: hidden;
  border: none;
  border-bottom: 2px solid #fff;
  position: relative;
  border-radius: 0;
  font-size: 1.8rem;
  font-family: "repeater";
  border-collapse: hidden;
}
.get_in_touch__form input::placeholder, .get_in_touch__form textarea::placeholder {
  position: absolute;
  top: 0px;
  right: 0;
}
.get_in_touch__form__submit {
  cursor: pointer;
  width: fit-content !important;
  padding: 1rem 4.6rem !important;
  margin-left: auto;
  transform: translateX();
}
.get_in_touch.closed > .get_in_touch__form {
  opacity: 0;
  transform: translateY(300%);
}

.black-btn {
  color: #fff;
  border-radius: 0;
  border: 2px solid white;
  background-color: rgba(60, 60, 60, 0.5);
  font-family: "ducine";
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.2rem 2.2rem 0.6rem;
}
.black-btn:hover {
  background-color: rgba(107, 107, 107, 0.5);
}
.black-btn:active {
  background-color: rgba(152, 152, 152, 0.5);
}

.bg-bottom {
  background-position: bottom !important;
}

.get_in_touch__reaction {
  transition: background-position 2s;
}

.get_in_touch__opened.slide2 > .slide2-slider {
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide3 > .slide__text-box {
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide4 > .slide__text-box {
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide5 > .slide__text-box {
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide6 > .slide__text-box {
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide7 > .slide__text-box {
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide8 > .slide__text-box {
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide9 > .slide__text-box {
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide10 > .slide__text-box {
  transform: translateY(-20%);
  opacity: 0;
}
.get_in_touch__opened.slide11 > .slide__text-box {
  transform: translateY(-20%);
  opacity: 0;
}

.slider {
  height: 100vh;
  width: 100%;
  position: relative;
}

.slide1 {
  background-image: url("../sourse/img/city.png");
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.slide2 {
  background-image: url("../sourse/img/Right-background.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.slide2-slider {
  transition: all 1s;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slide3 {
  background-image: url("../sourse/img/Permanent-Residence.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.slide4 {
  background-image: url("../sourse/img/Family-Sponsorrship.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.slide5 {
  background-image: url("../sourse/img/Study-Permits.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.slide6 {
  background-image: url("../sourse/img/Work-Permits.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.slide7 {
  background-image: url("../sourse/img/Visitor-Visas.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.slide8 {
  background-image: url("../sourse/img/Citizenship-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.slide9 {
  background-image: url("../sourse/img/Business-Immigration.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.slide10 {
  background-image: url("../sourse/img/PNP-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.slide11 {
  background-image: url("../sourse/img/Immigration-Refusals.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}
.slide11 .slide-tittle {
  margin-top: 8rem;
}

.slider-inside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
}

.slider__inside-slide {
  padding-right: 12rem;
  padding-left: 12rem;
}
.slider__inside-title {
  font-family: "Josefin Sans";
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3rem;
  color: white;
  max-width: 50rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  letter-spacing: 0.3rem;
}
.slider__inside-text {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: white;
}
.slider__inside-text:last-child {
  margin-bottom: 0;
}
.slider__inside-list {
  margin-bottom: 3rem;
  margin-left: 2rem;
}
.slider__inside-item {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: white;
}

.slide2-slider {
  position: relative;
  width: 100%;
}

.slider__inside-prev {
  position: absolute;
  left: 10%;
  bottom: -8%;
  background: transparent;
  border: none;
  cursor: pointer;
  width: auto;
}
.slider__inside-next {
  position: absolute;
  right: 10%;
  bottom: -8%;
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  width: auto;
}

.inside-arrow--hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.content:not(#content1) {
  transform: translateX(100%);
}

.content {
  position: absolute;
  transition: transform 1s, background-position 2s;
  margin-left: -0.1px;
}

.slide__text-box {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 2.2rem;
  padding: 13rem 3.6rem;
  align-self: center;
}
.slide-tittle {
  font-size: 5.4rem;
  margin-bottom: 2.6rem;
  font-family: "Mont";
  position: relative;
}
.slide-tittle::after {
  content: ".";
  font-size: 1;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  left: -500%;
  bottom: -6px;
  width: 20%;
  height: 2.4px;
  background-color: rgb(255, 0, 0);
  transition: width 0.5s ease, left 1s;
}
.slide-text {
  margin-bottom: 1.6rem;
  line-height: 2.4rem;
}
.slide__list-item {
  margin: 0 1.6rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  position: relative;
}
.slide__list-item::before {
  content: "*";
  position: absolute;
  transform: translateX(-14px);
}

.slide--active .slider-inside {
  opacity: 1;
  transform: translateY(0%);
}
.slide--active .slider__inside-prev,
.slide--active .slider__inside-next {
  opacity: 1;
  transform: translateY(0%);
}
.slide--active .slide__text-box {
  opacity: 1;
  transform: translateY(0%);
}
.slide--active .slide-tittle::after {
  left: 0;
}

.slider-inside {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1s, opacity 2s;
}

.slider__inside-prev,
.slider__inside-next {
  opacity: 0;
  transform: translateY(500%);
  transition: all 1s, opacity 2s;
}

.slide__text-box {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1s, opacity 2s;
}

html {
  font-size: 62.5%;
}

*::selection {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.623);
}

.hero {
  height: 100vh;
  position: relative;
  margin-bottom: 6rem;
}
.hero__text {
  padding-top: 24rem;
  text-align: center;
  font-size: 3.6rem;
  font-family: "Ducine";
  padding-right: 5rem;
  padding-left: 5rem;
  transition: all 1s ease-in-out;
}
.hero__text.scrolled {
  opacity: 0;
  transform: translateY(-50px);
}
.hero__arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
  outline: none;
  position: absolute;
  bottom: 6.8rem;
  left: 50%;
  transition: all 0.5s ease-in-out;
  animation: jump 0.5s infinite;
}
.hero__arrow-btn.scrolled {
  opacity: 0;
  bottom: 10rem;
}
.hero__arrow-img {
  width: 40px;
  height: 40px;
}

.testimonial {
  position: relative;
  transition: all 0.7s;
  margin-bottom: 30rem;
}
.testimonial .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.testimonial .slick-dots li {
  border-radius: 50%;
  margin-right: 0.9rem;
  transition: all 0.4s;
}
.testimonial .slick-dots li:last-child {
  margin-right: 0;
}
.testimonial .slick-dots li button {
  background: transparent;
  border: #ff0506 solid 0.16rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  cursor: pointer;
}
.testimonial .slick-dots li.slick-active {
  background-color: #ff0506;
}
.testimonial.scrolled {
  opacity: 0;
  transform: translateX(100%);
}
.testimonial__title-box {
  display: flex;
  justify-content: end;
}
.testimonial__title {
  font-family: "Mont";
  font-size: 6rem;
  font-weight: 700;
  color: #7f7f7f;
  text-align: center;
  width: 42rem;
  margin-bottom: 6rem;
  text-transform: uppercase;
}
.testimonial__slide {
  display: flex;
}
.testimonial__text-box {
  width: 55rem;
  border: 1px solid #7f7f7f;
  border-right: none;
  padding: 3.5rem;
  margin-left: 1rem;
  margin-right: 2.2rem;
  position: relative;
}
.testimonial__text {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
}
.testimonial__quotes {
  font-family: "JournalSans";
  font-weight: 400;
  font-size: 15rem;
  letter-spacing: -3rem;
  position: absolute;
  top: -25px;
  right: -35px;
}
.testimonial__person-img {
  width: 8.8rem;
  height: 8.8rem;
  align-self: center;
}
.testimonial__person-text {
  align-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.testimonial__person-name {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 300;
}
.testimonial__person-country {
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 600;
}

.services {
  margin-bottom: 30rem;
  transition: all 0.7s;
}
.services.scrolled {
  opacity: 0;
  transform: translateX(100%);
}
.services__title {
  font-family: "Mont";
  font-size: 6rem;
  font-weight: 700;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 6rem;
  text-transform: uppercase;
  margin-bottom: 10rem;
}
.services__content {
  display: flex;
  justify-content: space-around;
  padding-right: 2rem;
  padding-left: 2rem;
}
.services__content-box {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5.6rem;
  width: 30%;
}
.services__number {
  font-family: "Mont";
  font-size: 8.6rem;
  font-weight: 700;
  color: #333333;
  transform: translateY(-67%);
}
.services__text {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 1.8rem;
}
.services__btn-box {
  display: flex;
  justify-content: end;
}
.services__btn {
  display: inline;
  text-decoration: none;
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border: 1px solid #e80d0d;
  background-color: rgba(232, 13, 13, 0.2);
  padding: 1.6rem 10.8rem;
  margin-right: 7.3rem;
  cursor: pointer;
  transition: background-color 0.5s;
}
.services__btn:hover {
  background-color: rgba(232, 13, 13, 0.3);
}
.services__btn:active {
  background-color: rgba(232, 13, 13, 0.4);
}

.advantages {
  margin-bottom: 7.5rem;
}
.advantages__title {
  font-family: "Mont";
  font-size: 5.2rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 6rem;
  text-transform: uppercase;
  margin-bottom: 9.8rem;
  padding-left: 7%;
}
.advantages__content {
  display: flex;
  flex-direction: column;
  padding-right: 8rem;
}
.advantages__content-box {
  display: flex;
  padding-left: 13rem;
  margin-bottom: 7rem;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}
.advantages__content-box.scrolled {
  opacity: 1;
  transform: translateY(-50px);
}
.advantages__icon-box {
  padding-right: 4rem;
}
.advantages__img {
  width: 4.2rem;
  height: 4.2rem;
  transform: translateY(50%);
  opacity: 0;
  transition: opacity 3s;
}
.advantages__img--open {
  opacity: 1;
}
.advantages__subtitle {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}
.advantages__text {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 2.2rem;
}

@keyframes jump {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
  100% {
    transform: translate(-50%, 0);
    transform: translate();
  }
}
/**************************/
/* BELOW 1500px */
/**************************/
@media (max-width: 93.75em) {
  .slider__inside-next img {
    width: 75%;
  }
  .slider__inside-prev img {
    width: 75%;
  }
}
/**************************/
/* BELOW 1300px */
/**************************/
@media (max-width: 81.25em) {
  html {
    font-size: 56.25%;
  }
  .menu {
    top: 1.5%;
  }
  .menu__nav__item {
    padding-bottom: 1rem;
  }
  .slider__inside-next {
    right: 0;
    bottom: -12%;
  }
  .slider__inside-prev {
    left: 0;
    bottom: -12%;
  }
  .slider__inside-slide {
    padding-right: 9rem;
    padding-left: 9rem;
  }
  .slide__text-box {
    padding: 13rem 1.6rem;
  }
  .slide__list-item {
    margin-left: 7rem;
  }
}
/**************************/
/* BELOW 1150px */
/**************************/
@media (max-width: 71.875em) {
  .testimonial__text-box {
    padding: 2rem;
    margin-right: 1rem;
  }
  .menu__nav__title {
    font-size: 6.4rem;
  }
  .testimonial__slide {
    flex-direction: column;
  }
  .testimonial__text-box {
    order: 2;
  }
  .testimonial__person-img {
    align-self: flex-start;
    margin-left: 3rem;
    transform: translateY(30%);
  }
  .testimonial__person-text {
    align-self: flex-start;
    margin-left: 13rem;
    transform: translateY(-50%);
  }
  .advantages__title {
    margin-bottom: 12.8rem;
    padding-left: 30%;
  }
  html {
    font-size: 50%;
  }
  .services__btn {
    margin: 0 auto;
  }
  .advantages__content-box {
    padding-left: 10rem;
  }
  .slider__inside-next img {
    width: 60%;
  }
  .slider__inside-prev img {
    width: 60%;
  }
}
/**************************/
/* BELOW 1000px */
/**************************/
@media (max-width: 62.5em) {
  .testimonial__text-box {
    width: 48rem;
  }
  .services__content {
    padding-left: 0;
    padding-right: 0;
  }
  .slider__inside-next img {
    width: 50%;
  }
  .slider__inside-prev img {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */