@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Mont"; //ExtraLight
  src: url("../fonts/Mont-ExtraLight.woff");
  font-weight: 200;
}
@font-face {
  font-family: "Mont"; //Boold
  src: url("../fonts/Mont-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "Mont"; //Heavy
  src: url("../fonts/Mont-Heavy.woff");
  font-weight: 900;
}

@font-face {
  font-family: "Repeater"; //Regular
  src: url("../fonts/Repeater-Regular.woff");
  font-weight: 400;
}

// @font-face {
//   font-family: "Ducine";
//   src: url("../fonts/Ducine.woff");
//   font-weight: 400;
// }

@font-face {
  font-family: "JournalSans";
  src: url("../fonts/JournalSans.woff");
  font-weight: 400;
}
