main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo {
  z-index: 500;
  position: fixed;
  top: 2.6rem;
  left: 25%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  &.scrolled {
    transform: translateX(100%);
  }
  &__img {
    transition: filter 0.5s ease-in-out;
  }
}

.fixed {
  position: fixed;
  position: fixed;
  left: 50%;
  right: 0;
}
