.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__left {
    overflow-x: auto;
    overflow-y: auto;
    background-color: white;
    z-index: 9999;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      /* Chrome, Safari, and Opera */
      display: none;
    }
  }
}
.logo {
  z-index: 10000;
  position: fixed;
  top: 2.6rem;
  left: 25%;
  transform: translateX(-50%);
  transition: all 0.7s ease-in-out;

  &.scrolled,
  &.moved {
    transform: translateX(10%);
    left: 50%;
  }

  &__img {
    width: 30rem;
  }
}

.fixed {
  position: fixed;
  position: fixed;
  left: 50%;
  right: 0;
}

.massege_was_sent {
  &.opened {
    display: flex;
  }

  position: fixed;
  z-index: 999999;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  text-align: center;
  color: white;
  font-family: "ducine";
  font-size: 8.4rem;

  display: none;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  row-gap: 1rem;

  &__close_btn {
    margin-top: 4.2rem;
    font-size: 3.2rem;
    padding: 0.6rem 5.2rem !important;
  }

  &__text {
    text-transform: uppercase;
  }
}
