main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo {
  z-index: 10000;
  position: fixed;
  top: 2.6rem;
  left: 25%;
  transform: translateX(-50%);
  transition: all 0.7s ease-in-out;
  &.scrolled {
    left: 67%;
  }
  &.moved {
    left: 67%;
  }

  &__img {
  }
}

.fixed {
  position: fixed;
  position: fixed;
  left: 50%;
  right: 0;
}
