.hero {
  height: 100vh;
  position: relative;
  margin-bottom: 6rem;
  &__text {
    padding-top: 24rem;
    text-align: center;
    font-size: 3.6rem;
    font-family: "Ducine";
    padding-right: 5rem;
    padding-left: 5rem;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    &.scrolled {
      opacity: 0;
      -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      transform: translateY(-50px);
    }
  }
  &__arrow-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 6.8rem;
    left: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-animation: jump 0.5s infinite;
    animation: jump 0.5s infinite;
    &.scrolled {
      opacity: 0;
      bottom: 10rem;
    }
  }
  &__arrow-img {
    width: 40px;
    height: 40px;
  }
}
.testimonial {
  position: relative;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  margin-bottom: 30rem;
  & .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1.5rem;
  }
  & .slick-dots li {
    border-radius: 50%;
    margin-right: 0.9rem;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    &:last-child {
      margin-right: 0;
    }
  }

  & .slick-dots li button {
    background: transparent;
    border: #ff0506 solid 0.16rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0;
    cursor: pointer;
  }

  & .slick-dots li.slick-active {
    background-color: #ff0506;
  }
  &.scrolled {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  &__title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  &__title {
    font-family: "Mont";
    font-size: 6rem;
    font-weight: 700;
    color: #7f7f7f;
    text-align: center;
    width: 42rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
  }

  &__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  &__text-box {
    width: 55rem;
    border: 1px solid #7f7f7f;
    border-right: none;
    padding: 3.5rem;
    margin-left: 1rem;
    margin-right: 2.2rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &__text {
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
  }
  &__quotes {
    font-family: "JournalSans";
    font-weight: 400;
    font-size: 15rem;
    letter-spacing: -3rem;
    position: absolute;
    top: -25px;
    right: -35px;
  }
  &__person-img {
    width: 8.8rem;
    height: 8.8rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  &__person-text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &__person-name {
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-weight: 300;
  }
  &__person-country {
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-weight: 600;
  }
}
.services {
  margin-bottom: 30rem;
  padding: 2.6rem;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;

  &.scrolled {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  &__title {
    font-family: "Mont";
    font-size: 6rem;
    font-weight: 700;
    color: #7f7f7f;
    text-align: right;
    margin-bottom: 6rem;
    text-transform: uppercase;
    margin-bottom: 10rem;
  }
  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &__content-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    margin-bottom: 5.6rem;
  }
  &__number {
    font-family: "Mont";
    font-size: 8.6rem;
    font-weight: 700;
    color: #333333;
    -webkit-transform: translateY(-67%);
    -ms-transform: translateY(-67%);
    transform: translateY(-67%);
  }
  &__text {
    font-family: "Josefin Sans";
    font-weight: 500;
    font-size: 1.8rem;
    width: 14rem;
  }
  &__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  &__btn {
    display: inline;
    text-decoration: none;
    font-family: "Josefin Sans";
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border: 1px solid #e80d0d;
    background-color: rgba(232, 13, 13, 0.2);
    padding: 1.6rem 10.8rem;
    cursor: pointer;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    &:hover {
      background-color: rgba(232, 13, 13, 0.3);
    }
    &:active {
      background-color: rgba(232, 13, 13, 0.4);
    }
  }
}
.advantages {
  margin-bottom: 7.5rem;
  &__title {
    font-family: "Mont";
    font-size: 5.2rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 6rem;
    text-transform: uppercase;
    margin-bottom: 9.8rem;
    padding-left: 7%;
  }
  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 8rem;
  }
  &__content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 13rem;
    margin-bottom: 7rem;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    &.scrolled {
      opacity: 1;
      -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      transform: translateY(-50px);
    }
  }
  &__icon-box {
    padding-right: 4rem;
  }
  &__img {
    width: 4.2rem;
    height: 4.2rem;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    &--open {
      opacity: 1;
    }
  }

  &__subtitle {
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }
  &__text {
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 2.2rem;
  }
}
.accordion {
  display: none;
  opacity: 0;
}
.accordion-item {
  border: none;
  margin-bottom: 10px;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.accordion-header {
  background-color: transparent;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: #ff0506;

  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  position: relative;
}

.about {
  margin-bottom: 5rem;
  &__title {
    font-family: "Mont";
    font-size: 6rem;
    font-weight: 700;
    color: #7f7f7f;
    text-align: center;
    max-width: 42rem;

    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    transform: translateY(-50%);
  }

  &__item {
    margin-top: 8rem;
    display: flex;
    margin-left: 8rem;
    border-bottom: 1px black solid;
    margin-right: 2rem;

    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    &.scrolled {
      opacity: 1;
      -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      transform: translateY(-50px);
    }
    &:first-child {
      margin-top: 20rem;
    }
  }

  &__img-box {
  }

  &__img {
    width: 25rem;
  }

  &__text-box {
    margin-left: 5rem;
  }

  &__subtitle {
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }

  &__text {
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: black;
  }
}

.contact {
  margin-bottom: 5rem;
  &__title {
    font-family: "Mont";
    font-size: 6rem;
    font-weight: 700;
    color: #7f7f7f;
    text-align: center;
    max-width: 42rem;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  &__container {
    display: flex;
    margin-left: 2rem;
    margin-right: 1rem;
    flex-direction: column;
  }

  &__text-box {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }

  &__text {
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: black;
  }

  &__mail {
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 5rem;
  }

  &__btn {
    color: black;
    border-radius: 0;

    padding: 1rem 2.2rem 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
    transform: translateX(-2rem);

    text-decoration: none;
    font-family: "Josefin Sans";
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border: 1px solid #e80d0d;
    background-color: rgba(232, 13, 13, 0.2);
  }

  &__map-box {
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 500;
    height: 300;
    iframe {
      width: 50rem;
      height: 35rem;
    }
  }
}
