// 1em = 16px

/**************************/
/* BELOW 1500px */
/**************************/
@media (max-width: 93.75em) {
  .slider__inside-next {
    img {
      width: 75%;
    }
  }
  .slider__inside-prev {
    img {
      width: 75%;
    }
  }
  .menu__nav {
    &__title {
      margin-bottom: 3.6rem;
    }
    &__item {
      padding-bottom: 0.8rem;
    }
    &__contact-us {
      font-size: 4.2rem;
      bottom: 3.4rem;
    }
  }
  .slide__text-box {
    padding: 13rem 1.6rem;
  }
  .slide__list-item {
    margin-left: 6rem;
  }
  .slide11 .slide-tittle {
    margin-top: 8rem;
    margin-bottom: 1.6rem;
  }
  .slide-text {
    margin-bottom: 0.6rem;
  }
  .slide__text-box {
    font-size: 1.9rem;
  }
  .menu__nav__title {
    font-size: 6.4rem;
    margin-bottom: 1rem;
  }
}

/**************************/
/* BELOW 1300px */
/**************************/
@media (max-width: 81.25em) {
  html {
    font-size: 56.25%;
  }
  .menu {
    top: 1.5%;
  }

  .slider__inside-next {
    right: 0;
    bottom: -9%;
  }
  .slider__inside-prev {
    left: 0;
    bottom: -9%;
  }
  .slider__inside-slide {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .slider__inside-next {
    img {
      width: 70%;
    }
  }
  .slider__inside-prev {
    img {
      width: 70%;
    }
  }
}

/**************************/
/* BELOW 1150px */
/**************************/
@media (max-width: 71.875em) {
  .testimonial__text-box {
    padding: 2rem;
    margin-right: 1rem;
  }
  .menu__nav {
    &__title {
      font-size: 6.4rem;
    }
  }
  .testimonial__slide {
    flex-direction: column;
  }
  .testimonial__text-box {
    order: 2;
  }
  .testimonial__person-img {
    align-self: flex-start;
    margin-left: 3rem;
    transform: translateY(30%);
  }
  .testimonial__person-text {
    align-self: flex-start;
    margin-left: 13rem;
    transform: translateY(-50%);
  }
  .advantages__title {
    margin-bottom: 12.8rem;
    padding-left: 30%;
  }
  html {
    font-size: 50%;
  }
  .services__btn {
    margin: 0 auto;
  }
  .advantages__content-box {
    padding-left: 10rem;
  }
  .slider__inside-next {
    img {
      width: 60%;
    }
  }

  .slider__inside-prev {
    img {
      width: 60%;
    }
  }

  .slide-tittle {
    font-size: 5rem;
  }
  .menu__nav__item {
    padding-bottom: 0.5rem;
  }
  .slide-tittle {
    font-size: 4.4rem;
  }
  .slider__inside-title {
    font-size: 2.5rem;
  }
}

/**************************/
/* BELOW 1000px */
/**************************/
@media (max-width: 62.5em) {
  .testimonial__text-box {
    width: 45rem;
  }
  .services__content {
    padding-left: 0;
    padding-right: 0;
  }
  .slider__inside-next {
    img {
      width: 40%;
    }
  }

  .slider__inside-prev {
    img {
      width: 40%;
    }
  }

  .logo__img {
    width: 25rem;
  }
  .services__number {
    font-size: 7.6rem;
  }
  .services__text {
    font-size: 1.5rem;
  }
  .services {
    padding-left: 1rem;
  }
  .slider__inside-slide {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .menu__nav__title {
    font-size: 6rem;
  }
}
/**************************/
/* BELOW 850px */
/**************************/
@media (max-width: 53.125em) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    &__right {
      position: static;

      left: auto;
      right: auto;
      grid-row: 1;
      overflow-x: hidden;
    }
  }
  .main__right {
    position: absolute;
    height: 100vh;
    width: 100%;
  }

  .logo {
    position: absolute;
    top: 10rem;
    left: 50%;
  }
  .logo__img {
    width: 30rem;
  }
  .main__right .map-icon {
    position: absolute;
    right: auto;
    left: 1.8rem;
    height: 100vh;
  }
  .menu {
    position: absolute;
    right: 1.8rem;
    top: 1.2rem;
  }
  .get_in_touch__btn {
    position: absolute;
    transform: rotate(90deg);
    right: -5%;
    bottom: -10%;
  }
  .get_in_touch {
    position: static;
  }
  .get_in_touch.closed > .get_in_touch__btn {
    bottom: 10%;
  }
  .hero {
    height: 90vh;
    position: absolute;
    top: 10%;
    pointer-events: none;
    &__text {
      color: white;
    }
  }
  .hero__arrow-btn {
    border-color: white;
    pointer-events: auto;
  }
  .menu__btn::before,
  .menu__btn::after {
    color: white;
  }
  .menu__btn {
    color: white;
  }
  .hero__arrow-img {
    width: auto;
  }
}
