// 1em = 16px

/**************************/
/* BELOW 1500px */
/**************************/
@media (max-width: 93.75em) {
  .slider__inside-next {
    img {
      width: 75%;
    }
  }
  .slider__inside-prev {
    img {
      width: 75%;
    }
  }
  .menu__nav {
    &__title {
      margin-bottom: 3.6rem;
    }
    &__item {
      padding-bottom: 0.8rem;
    }
    &__contact-us {
      font-size: 4.2rem;
      bottom: 3.4rem;
    }
  }
  .slide__text-box {
    padding: 13rem 1.6rem;
  }
  .slide__list-item {
    margin-left: 6rem;
  }
  .slide11 .slide-tittle {
    margin-top: 8rem;
    margin-bottom: 1.6rem;
  }
  .slide-text {
    margin-bottom: 0.6rem;
  }
  .slide__text-box {
    font-size: 1.9rem;
  }
  .menu__nav__title {
    font-size: 6.4rem;
    margin-bottom: 1rem;
  }
}

/**************************/
/* BELOW 1300px */
/**************************/
@media (max-width: 81.25em) {
  html {
    font-size: 56.25%;
  }
  .menu {
    top: 1.5%;
  }

  .slider__inside-next {
    right: 0;
    bottom: -9%;
  }
  .slider__inside-prev {
    left: 0;
    bottom: -9%;
  }
  .slider__inside-slide {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .slider__inside-next {
    img {
      width: 70%;
    }
  }
  .slider__inside-prev {
    img {
      width: 70%;
    }
  }
}

/**************************/
/* BELOW 1150px */
/**************************/
@media (max-width: 71.875em) {
  .testimonial__text-box {
    padding: 2rem;
    margin-right: 1rem;
  }
  .menu__nav {
    &__title {
      font-size: 6.4rem;
    }
  }
  .testimonial__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .testimonial__text-box {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .testimonial__person-img {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 3rem;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
  }
  .testimonial__person-text {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 13rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .advantages__title {
    margin-bottom: 12.8rem;
    padding-left: 30%;
  }
  html {
    font-size: 50%;
  }
  .services__btn {
    margin: 0 auto;
  }
  .advantages__content-box {
    padding-left: 10rem;
  }
  .slider__inside-next {
    img {
      width: 60%;
    }
  }

  .slider__inside-prev {
    img {
      width: 60%;
    }
  }

  .slide-tittle {
    font-size: 5rem;
  }
  .menu__nav__item {
    padding-bottom: 0.5rem;
  }
  .slide-tittle {
    font-size: 4.4rem;
  }
  .slider__inside-title {
    font-size: 2.5rem;
  }
}

/**************************/
/* BELOW 1000px */
/**************************/
@media (max-width: 62.5em) {
  .testimonial__text-box {
    width: 45rem;
  }
  .services__content {
    padding-left: 0;
    padding-right: 0;
  }
  .slider__inside-next {
    img {
      width: 40%;
    }
  }

  .slider__inside-prev {
    img {
      width: 40%;
    }
  }

  .logo__img {
    width: 25rem;
  }
  .services__number {
    font-size: 7.6rem;
  }
  .services__text {
    font-size: 1.5rem;
  }
  .services {
    padding-left: 1rem;
  }
  .slider__inside-slide {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .menu__nav__title {
    font-size: 6rem;
  }
}
/**************************/
/* BELOW 850px */
/*MOBILE*/
/**************************/
@media (max-width: 53.125em) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    &__right {
      position: static;

      left: auto;
      right: auto;
      -ms-grid-row: 1;
      grid-row: 1;
      overflow-x: hidden;
    }
  }
  .main__right {
    position: absolute;
    height: 100vh;
    width: 100%;
  }

  .logo {
    position: absolute;
    top: 10rem;
    left: 50%;
  }
  .logo__img {
    width: 30rem;
  }
  .main__right .map-icon {
    position: absolute;
    right: auto;
    left: 1.8rem;
    height: 100vh;
  }
  .get_in_touch__btn {
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    // right: -5.5rem;
    // bottom: -10%;
    padding: 0.2rem 2rem 0.5rem;
  }
  .get_in_touch {
    position: static;
  }
  .get_in_touch.closed > .get_in_touch__btn {
    bottom: 10%;
    right: -5rem;
  }
  .get_in_touch.opened > .get_in_touch__btn {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    bottom: 10%;
    right: 2rem;
  }
  .hero {
    height: 90vh;
    position: absolute;
    top: 10%;
    pointer-events: none;
    &__text {
      color: white;
    }
  }
  .hero__arrow-btn {
    border-color: white;
    pointer-events: auto;
  }
  .hero__arrow-img {
    width: auto;
  }
  .advantages__content-box {
    opacity: 1;
  }
  .advantages__img {
    opacity: 1;
  }
  .testimonial {
    margin-top: 30rem;
  }
  .testimonial__person-img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-transform: translate(-11rem, 30%);
    -ms-transform: translate(-11rem, 30%);
    transform: translate(-11rem, 30%);
  }
  .testimonial__person-text {
    margin: 0 auto;
  }
  .testimonial__slide {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .testimonial__text-box {
    margin-left: -6rem;
  }
  .services__content {
    padding-left: 3rem;
  }
  body {
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }
  .hero__text {
    font-family: "repeater";
  }

  /*menu mobile*/

  .menu {
    display: none;
    // position: absolute;
  }
  .menu__mobile {
    display: none;
  }
  .get_in_touch__form {
    // position: absolute;
    // right: 2rem;
    // left: 2rem;
    // top: 35%;
    // width: auto;
    // border: 5px black solid;
    // padding-bottom: 22rem;
  }
}
