// 1em = 16px

/**************************/
/* BELOW 1500px */
/**************************/
@media (max-width: 93.75em) {
  .slider__inside-next {
    img {
      width: 75%;
    }
  }
  .slider__inside-prev {
    img {
      width: 75%;
    }
  }
  .menu__nav {
    &__title {
      margin-bottom: 3.6rem;
    }
    &__item {
      padding-bottom: 0.8rem;
    }
    &__contact-us {
      font-size: 4.2rem;
      bottom: 3.4rem;
    }
  }
  .slide__text-box {
    padding: 13rem 1.6rem;
  }
  .slide__list-item {
    margin-left: 6rem;
  }
  .slide11 .slide-tittle {
    margin-top: 8rem;
    margin-bottom: 1.6rem;
  }
  .slide-text {
    margin-bottom: 0.6rem;
  }
  .slide__text-box {
    font-size: 1.9rem;
  }
  .menu__nav__title {
    font-size: 6.4rem;
    margin-bottom: 1rem;
  }
}

/**************************/
/* BELOW 1300px */
/**************************/
@media (max-width: 81.25em) {
  html {
    font-size: 56.25%;
  }
  .menu {
    top: 1.5%;
  }

  .slider__inside-next {
    right: 0;
    bottom: -9%;
  }
  .slider__inside-prev {
    left: 0;
    bottom: -9%;
  }
  .slider__inside-slide {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .slider__inside-next {
    img {
      width: 70%;
    }
  }
  .slider__inside-prev {
    img {
      width: 70%;
    }
  }
  .about__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .about__img {
    margin-bottom: 5rem;
  }
}

/**************************/
/* BELOW 1150px */
/**************************/
@media (max-width: 71.875em) {
  .testimonial__text-box {
    padding: 2rem;
    margin-right: 1rem;
  }
  .menu__nav {
    &__title {
      font-size: 6.4rem;
    }
  }
  .testimonial__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .testimonial__text-box {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .testimonial__person-img {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 3rem;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
  }
  .testimonial__person-text {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 13rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .advantages__title {
    margin-bottom: 12.8rem;
    padding-left: 30%;
  }
  html {
    font-size: 50%;
  }
  .services__btn {
    margin: 0 auto;
  }
  .advantages__content-box {
    padding-left: 10rem;
  }
  .slider__inside-next {
    img {
      width: 60%;
    }
  }

  .slider__inside-prev {
    img {
      width: 60%;
    }
  }

  .slide-tittle {
    font-size: 5rem;
  }
  .menu__nav__item {
    padding-bottom: 0.5rem;
  }
  .slide-tittle {
    font-size: 4.4rem;
  }
  .slider__inside-title {
    font-size: 2.5rem;
  }
}

/**************************/
/* BELOW 1000px */
/**************************/
@media (max-width: 62.5em) {
  .testimonial__text-box {
    width: 45rem;
  }
  .services__content {
    padding-left: 0;
    padding-right: 0;
  }
  .slider__inside-next {
    img {
      width: 40%;
    }
  }

  .slider__inside-prev {
    img {
      width: 40%;
    }
  }

  .logo__img {
    width: 25rem;
  }
  .services__number {
    font-size: 7.6rem;
  }
  .services__text {
    font-size: 1.5rem;
  }
  .services {
    padding-left: 1rem;
  }
  .slider__inside-slide {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  .menu__nav__title {
    font-size: 6rem;
  }
}
/**************************/
/* BELOW 850px */
/*MOBILE*/
/**************************/

@media (max-width: 53.125em) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    &__right {
      position: static;
      left: auto;
      right: auto;
      -ms-grid-row: 1;
      grid-row: 1;
      overflow-x: hidden;
      overflow-y: hidden;
      height: 100vh;
    }
  }
  .main__right {
    position: absolute;
    height: 100vh;
    width: 100%;
  }

  .logo,
  .logo__form {
    position: absolute;
    top: 10rem;
    left: 50%;
    z-index: 1;
  }
  .logo__img {
    width: 30rem;
  }

  //GET IN TOUCH

  .get_in_touch__btn {
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    // right: -5.5rem;
    // bottom: -10%;
    padding: 0.2rem 2rem 0.5rem;
  }
  .get_in_touch {
    position: static;

    &__form {
      visibility: hidden;
      position: fixed;
      -webkit-transform: none;
      -ms-transform: none;
      bottom: 15%;
      opacity: 1;
      width: 75%;
      height: 55vh;

      background-color: rgba(7, 7, 7, 0.49);
      border: 2px solid white;

      -webkit-transition: opacity 2s, -webkit-transform 2s;
      transition: opacity 2s, -webkit-transform 2s;
      -o-transition: transform 2s, opacity 2s;
      transition: transform 2s, opacity 2s;
      transition: transform 2s, opacity 2s, -webkit-transform 2s;

      & input,
      & select,
      & option,
      & textarea,
      & input::placeholder,
      & textarea::placeholder {
        background-color: rgba(37, 37, 37, 0);
        border-bottom: 1px solid white;
      }
    }

    &.closed > &__form {
      -webkit-transition: opacity 2s, -webkit-transform 2s, visibility 2s;
      transition: opacity 2s, -webkit-transform 2s, visibility 2s;
      -o-transition: transform 2s, opacity 2s, visibility 2s;
      transition: transform 3s, opacity 2s, visibility 2s;
      transition: transform 3s, opacity 2s, -webkit-transform 2s, visibility 2s;
      visibility: hidden;
      pointer-events: auto;

      animation: get_in_touchClose 2s forwards;
    }
    &.opened > &__form {
      animation: get_in_touchOpen 2s forwards;
    }
  }

  .get_in_touch.closed > .get_in_touch__btn {
    bottom: 10%;
    right: -5rem;
  }
  .get_in_touch.opened > .get_in_touch__btn {
    z-index: 1;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    bottom: 15%;
    right: 3rem !important;
    margin-right: 6.3%;
  }

  //
  .hero {
    height: 90vh;
    position: absolute;
    top: 10%;
    pointer-events: none;
    &__text {
      color: white;
      opacity: 1;
    }
  }
  .hero__arrow-btn {
    border-color: white;
    pointer-events: auto;
  }
  .hero__arrow-img {
    width: auto;
  }
  .advantages__content-box {
    opacity: 1;
  }
  .advantages__img {
    opacity: 1;
  }
  .testimonial {
    margin-top: 30rem;
  }
  .testimonial__person-img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-transform: translate(-11rem, 30%);
    -ms-transform: translate(-11rem, 30%);
    transform: translate(-11rem, 30%);
  }
  .testimonial__person-text {
    margin: 0 auto;
  }
  .testimonial__slide {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .testimonial__text-box {
    margin-left: -6rem;
  }
  .services__content {
    padding-left: 3rem;
  }
  body {
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }

  /*menu mobile*/
  .menu {
    display: none;
    // position: absolute;
  }
  .menu__mobile {
    display: block;
  }
  .testimonial__title {
    width: 100%;
  }
  .services__title {
    text-align: center;
  }
  .advantages__title {
    padding-left: 0;
    text-align: center;
  }
  .hero {
    .hero__text {
      display: none;
      opacity: 0;
    }
    .hero__arrow-btn {
      display: none;
      opacity: 0;
    }
  }
  .hero__text--mobile {
    display: block;
    opacity: 1;
    padding-top: 35rem;
  }
  .hero__arrow-btn--mobile {
    display: flex;
    opacity: 1;
  }
  .logo,
  .logo__form {
    z-index: 10001;
  }
  .grid__right {
    z-index: 10000;
  }
  .get_in_touch__btn {
    position: fixed;
  }

  //icons
  .icon {
    position: fixed;
    z-index: 99999999 !important;
    & i {
      z-index: 99999999 !important;
    }
  }

  .map-icon {
    position: fixed;
    left: 0;
    top: 0 !important;
    width: 100vw;
    padding: 1rem;
  }
  .header {
    background-color: rgba(255, 255, 255, 0.818);
  }

  .main__right .sotial_networks.social_network--header {
    position: fixed;
    flex-direction: row;
    top: 1.2rem;
    left: 6rem;
    height: fit-content;
  }
  .grid__left {
    transition: all 0.5s ease-in-out;
  }

  .accordion {
    .slider__inside-slide {
      padding-right: 14rem;
      padding-left: 14rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .slider-inside {
      opacity: 1;
    }
    .slider__inside-title,
    .slider__inside-text,
    .slider__inside-list,
    .slider__inside-item {
      color: white;
      text-align: justify;
      font-size: 2.2rem;
    }
    .slider__inside-title {
      font-size: 3rem;
    }
    .slider__inside-title {
      padding-top: 15rem;
      text-align: center;
      margin-bottom: 4rem;
    }

    .accordion-prev {
      background: transparent;
      border: none;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: white;
    }
    .accordion-next {
      background: transparent;
      border: none;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  .services__btn {
    display: none;
    opacity: 0;
  }
  .accordion {
    display: block;
    opacity: 1;
  }
  .testimonial {
    margin-bottom: 15rem;
    margin-top: 15rem;
    .slick-arrow {
    }

    .slick-arrow.slick-prev {
      position: absolute;
      bottom: -3%;
      right: 35%;
      z-index: 1;
      background: url("../sourse/img/arrow-left.svg") 0 0 / 100% no-repeat;
      font-size: 0;
      width: 5rem;
      height: 5rem;
      border: none;
    }

    .slick-arrow.slick-next {
      position: absolute;
      bottom: -3%;
      right: 18%;
      z-index: 1;
      background: url("../sourse/img/arrow-right.svg") 0 0 / 100% no-repeat;
      font-size: 0;
      width: 5rem;
      height: 5rem;
      border: none;
    }
  }
  .testimonial__slide {
    flex-direction: column-reverse;
  }
  .testimonial__person-img {
    transform: translate(-11rem, -30%);
    margin-left: -25%;
  }
  .testimonial__person-text {
    transform: translateY(90%);
    margin: 0;
    margin-left: 32%;
  }
  .testimonial__text-box {
    border: none;
    padding-left: 5rem;
    width: 60%;
  }
  .services {
    margin-bottom: 15rem;
  }
  .testimonial__quotes {
    top: -17px;
    right: -18px;
  }
  .get_in_touch.closed > .get_in_touch__btn {
    right: -6rem;
  }
  .get_in_touch.opened > .get_in_touch__btn {
    right: 1rem;
  }
  .menu__mobile__nav {
    padding-left: 7rem;
  }
  .about__text-box {
    margin-left: 0;
  }
  .about__item {
    position: relative;
    align-items: start;
  }
  .about__subtitle {
    position: absolute;
    right: 10%;
    top: 9%;
    max-width: 42rem;
    text-align: center;
  }

  .about__text {
    margin-right: 6rem;
    text-align: center;
  }
  .about__title {
    transform: translateY(80%);
  }
  .about {
    margin-bottom: 15rem;
  }
  .logo__form {
    display: block;
  }
  .get_in_touch.opened {
    .logo__form {
      opacity: 1;
      top: -15rem !important;
    }
  }
}
/**************************/
/* BELOW 700px */
/*MOBILE*/
/**************************/
@media (max-width: 43.75em) {
  .about__subtitle {
    max-width: 30rem;
  }
}
/**************************/
/* BELOW 600px */
/*MOBILE*/
/**************************/
@media (max-width: 37.5em) {
  .testimonial__slide {
    flex-direction: column-reverse;
  }
  .testimonial__person-img {
    transform: translate(-11rem, -30%);
    margin-left: -15rem;
  }
  .testimonial__person-text {
    transform: translateY(90%);
    margin: 0;
    margin-left: 34%;
  }
  .testimonial__text-box {
    border: none;
    padding-left: 5rem;
    width: 45rem;
  }
  .testimonial {
    margin-bottom: 15rem;
    margin-top: 15rem;
    .slick-arrow {
    }

    .slick-arrow.slick-prev {
      position: absolute;
      bottom: -3%;
      right: 35%;
      z-index: 1;
      background: url("../sourse/img/arrow-left.svg") 0 0 / 100% no-repeat;
      font-size: 0;
      width: 5rem;
      height: 5rem;
      border: none;
    }

    .slick-arrow.slick-next {
      position: absolute;
      bottom: -3%;
      right: 18%;
      z-index: 1;
      background: url("../sourse/img/arrow-right.svg") 0 0 / 100% no-repeat;
      font-size: 0;
      width: 5rem;
      height: 5rem;
      border: none;
    }

    .slick-arrow.slick-disabled {
    }
  }
  .services__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services__content-box {
    justify-content: center;
  }
  .services__number {
    transform: translateY(-5%);
    font-size: 12rem;
    margin-right: 1rem;
  }
  .services__btn {
    width: 70%;
    padding: 1.6rem 0;
  }
  .services__text {
    font-size: 3.5rem;
    width: 60%;
  }
  .advantages__title {
    margin-bottom: 8rem;
  }
  .advantages__content-box {
    padding-left: 4rem;
  }
  .services {
    margin-bottom: 15rem;
  }
  .accordion {
    .slider__inside-slide {
      padding-right: 6rem;
      padding-left: 6rem;
    }
  }
  .about__subtitle {
    max-width: 30rem;
  }
  .about__item {
    margin-left: 3rem;
  }
  .contact__container {
    margin-left: 1rem;
  }
}
/**************************/
/* BELOW 550px */
/*MOBILE*/
/**************************/
@media (max-width: 34.375em) {
  .about__subtitle {
    max-width: 20rem;
    right: 6%;
  }
  .menu__mobile__nav {
    padding-left: 3rem;
  }
  .menu__mobile__nav__item {
    font-size: 3.8rem;
  }
  .menu__mobile__nav__contact-us {
    bottom: 15.4rem;
  }
}
/**************************/
/* BELOW 450px */
/*MOBILE*/
/**************************/
@media (max-width: 28.125em) {
  .about__subtitle {
    max-width: 15rem;
    right: 4%;
  }
  .contact {
    &__map-box {
      iframe {
        width: 40rem;
        max-height: 30rem;
      }
    }
  }
  .testimonial__person-text {
    margin-left: 30%;
  }
}
/**************************/
/* BELOW 400px */
/*MOBILE*/
/**************************/
@media (max-width: 25em) {
  .hero__text--mobile {
    margin-top: -11rem;
  }

  .testimonial__text-box {
    width: 32rem;
  }
  .testimonial__person-img {
    margin-left: -8%;
  }
  .testimonial__title,
  .services__title,
  .advantages__title,
  .about__title,
  .contact__title {
    font-size: 5rem;
  }
  .services__text {
    font-size: 2.5rem;
  }
  .services__number {
    transform: translateY(-13%);
    font-size: 11rem;
  }
  .accordion-header {
    font-size: 2.5rem;
  }
  .accordion .slider__inside-title {
    font-size: 2.5rem;
    padding-top: 20rem;
  }
  .accordion .slider__inside-slide {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .accordion .accordion-prev {
    left: -4%;
  }
  .accordion .accordion-next {
    right: -4%;
  }
  .advantages__content {
    padding-right: 4.8rem;
  }
  .advantages__icon-box {
    padding-right: 2rem;
  }
  .advantages__content-box {
    padding-left: 2rem;
  }
  .logo,
  .logo__form {
    top: 7.5rem;
  }
  .get_in_touch__btn {
    padding: 0rem 1rem 0.5rem;
  }
  .get_in_touch.closed > .get_in_touch__btn {
    right: -5rem;
  }
  .advantages__title {
    padding: 0 2rem;
  }
  .testimonial__person-text {
    margin-left: 36%;
  }
  .about__subtitle {
    position: static;
    max-width: 100%;
    margin-right: 5rem;
  }
  .about__item {
    align-items: center;
  }
  .about__img {
    margin-right: 5rem;
  }
  .contact {
    &__map-box {
      iframe {
        width: 32rem;
        max-height: 30rem;
      }
    }
  }
  .menu__mobile__nav__item {
    font-size: 3.2rem;
  }
}
@media (max-height: 43.75em) {
  html {
    font-size: 43.75%;
  }
  .menu__mobile__nav__contact-us {
    bottom: 3.4rem;
  }
  .get_in_touch {
    &__form {
      height: 70vh;
    }
  }
}
