.main__right {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  z-index: 1;
  width: 50%;
  height: 100vh;
  pointer-events: none;
  .icon {
    position: absolute;
    color: #fff;
    font-size: 4.2rem;
  }
  .map-icon {
    position: fixed;
    right: 1.8rem;
    top: 1.2rem;
    z-index: 1000;
    cursor: pointer;
    pointer-events: auto;
  }
  .sotial_networks {
    pointer-events: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.8rem;
    bottom: 1.8rem;
    left: 1.2rem;
    z-index: 1000;
  }
  .ph-facebook-logo {
    cursor: pointer;
  }
  .ph-instagram-logo {
    cursor: pointer;
  }
}

.get_in_touch {
  pointer-events: auto;
  width: 100%;
  -webkit-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
  position: relative;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
  &__btn {
    font-family: "Ducine";
    font-weight: 400;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    position: fixed;
    right: 3rem;
    cursor: pointer;
  }
  &.opened > &__btn {
    bottom: 75%;
  }
  &.closed > &__btn {
    bottom: 2.2rem;
  }

  &__form {
    -webkit-transition: opacity 3s, -webkit-transform 2s;
    transition: opacity 3s, -webkit-transform 2s;
    -o-transition: transform 2s, opacity 3s;
    transition: transform 2s, opacity 3s;
    transition: transform 2s, opacity 3s, -webkit-transform 2s;
    text-align: right;
    -webkit-transform: translateY(15%);
    -ms-transform: translateY(15%);
    transform: translateY(15%);
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    & input::-webkit-input-placeholder,
    & textarea::-webkit-input-placeholder {
      display: block;
      width: 100%;
      background-color: rgba(37, 37, 37, 0.5);
      color: #fff;
      text-align: right;
      padding: 1rem;
      overflow: hidden;
      border: none;
      border-bottom: 2px solid #fff;
      position: relative;
      border-radius: 0;
      font-size: 2.2rem;
      font-family: "repeater";
      border-collapse: hidden;
    }
    & input::-moz-placeholder,
    & textarea::-moz-placeholder {
      display: block;
      width: 100%;
      background-color: rgba(37, 37, 37, 0.5);
      color: #fff;
      text-align: right;
      padding: 1rem;
      overflow: hidden;
      border: none;
      border-bottom: 2px solid #fff;
      position: relative;
      border-radius: 0;
      font-size: 2.2rem;
      font-family: "repeater";
      border-collapse: hidden;
    }
    & input:-ms-input-placeholder,
    & textarea:-ms-input-placeholder {
      display: block;
      width: 100%;
      background-color: rgba(37, 37, 37, 0.5);
      color: #fff;
      text-align: right;
      padding: 1rem;
      overflow: hidden;
      border: none;
      border-bottom: 2px solid #fff;
      position: relative;
      border-radius: 0;
      font-size: 2.2rem;
      font-family: "repeater";
      border-collapse: hidden;
    }
    & input::-ms-input-placeholder,
    & textarea::-ms-input-placeholder {
      display: block;
      width: 100%;
      background-color: rgba(37, 37, 37, 0.5);
      color: #fff;
      text-align: right;
      padding: 1rem;
      overflow: hidden;
      border: none;
      border-bottom: 2px solid #fff;
      position: relative;
      border-radius: 0;
      font-size: 2.2rem;
      font-family: "repeater";
      border-collapse: hidden;
    }
    & input,
    & select,
    & option,
    & textarea,
    & input::placeholder,
    & textarea::placeholder {
      display: block;
      width: 100%;
      background-color: rgba(37, 37, 37, 0.5);
      color: #fff;
      text-align: right;
      padding: 1rem;
      overflow: hidden;
      border: none;
      border-bottom: 2px solid #fff;
      position: relative;
      border-radius: 0;
      font-size: 2.2rem;
      font-family: "repeater";
      border-collapse: hidden;
    }

    & input::-webkit-input-placeholder,
    & textarea::-webkit-input-placeholder {
      position: absolute;
      bottom: 0px;
      right: 0;
    }
    & input::-moz-placeholder,
    & textarea::-moz-placeholder {
      position: absolute;
      bottom: 0px;
      right: 0;
    }
    & input:-ms-input-placeholder,
    & textarea:-ms-input-placeholder {
      position: absolute;
      bottom: 0px;
      right: 0;
    }
    & input::-ms-input-placeholder,
    & textarea::-ms-input-placeholder {
      position: absolute;
      bottom: 0px;
      right: 0;
    }
    & input::placeholder,
    & textarea::placeholder {
      position: absolute;
      bottom: 0px;
      right: 0;
    }
    &__submit {
      cursor: pointer;
      width: -webkit-fit-content !important;
      width: -moz-fit-content !important;
      width: fit-content !important;
      padding: 1rem 1rem 1rem 5.6rem !important;
      margin-left: auto;
      -webkit-transform: translateX();
      -ms-transform: translateX();
      transform: translateX();
    }
  }

  &.closed > &__form {
    z-index: -1;
    opacity: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.black-btn {
  color: #fff;
  border-radius: 0;
  border: 2px solid white;
  background-color: rgba(60, 60, 60, 0.5);

  font-family: "Ducine";
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  padding: 0.2rem 2.2rem 0.6rem;

  &:hover {
    background-color: rgba(107, 107, 107, 0.5);
  }
  &:active {
    background-color: rgba(152, 152, 152, 0.5);
  }
}

.bg-bottom {
  background-position: bottom !important;
}

.get_in_touch__reaction {
  -webkit-transition: background-position 2s;
  -o-transition: background-position 2s;
  transition: background-position 2s;
}
.get_in_touch__opened {
  &.slide2 > .slide2-slider {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
  &.slide3 > .slide__text-box {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
  &.slide4 > .slide__text-box {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
  &.slide5 > .slide__text-box {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
  &.slide6 > .slide__text-box {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
  &.slide7 > .slide__text-box {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
  &.slide8 > .slide__text-box {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
  &.slide9 > .slide__text-box {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
  &.slide10 > .slide__text-box {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
  &.slide11 > .slide__text-box {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
  }
}

.slider {
  height: 100vh;
  width: 100%;
  position: relative;
}
.slide1 {
  background-image: url("../sourse/img/city.png");
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.slide2 {
  background-image: url("../sourse/img/Right-background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;

  &-slider {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slick-list {
  overflow: hidden;
}

.slide3 {
  background-image: url("../sourse/img/Permanent-Residence.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide4 {
  background-image: url("../sourse/img/Family-Sponsorrship.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide5 {
  background-image: url("../sourse/img/Study-Permits.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide6 {
  background-image: url("../sourse/img/Work-Permits.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide7 {
  background-image: url("../sourse/img/Visitor-Visas.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide8 {
  background-image: url("../sourse/img/Citizenship-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide9 {
  background-image: url("../sourse/img/Business-Immigration.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide10 {
  background-image: url("../sourse/img/PNP-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide11 {
  background-image: url("../sourse/img/Immigration-Refusals.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .slide-tittle {
    margin-top: 8rem;
  }
}

.slider-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
}
.slider {
  &__inside-slide {
    padding-right: 12rem;
    padding-left: 12rem;
  }

  &__inside-title {
    font-family: "Josefin Sans";
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 3rem;
    color: white;
    max-width: 50rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
  }

  &__inside-text {
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: white;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inside-list {
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  &__inside-item {
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: white;
  }
}
.slide2-slider {
  position: relative;
  width: 100%;
}

.slider {
  &__inside-prev {
    position: absolute;
    left: 10%;
    bottom: -7%;
    background: transparent;
    border: none;
    cursor: pointer;
    width: auto;
  }

  &__inside-next {
    position: absolute;
    right: 10%;
    bottom: -7%;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    width: auto;
  }
}
.inside-arrow--hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}
.content:not(#content1) {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.content {
  position: absolute;
  -webkit-transition: background-position 2s, -webkit-transform 1s;
  transition: background-position 2s, -webkit-transform 1s;
  -o-transition: transform 1s, background-position 2s;
  transition: transform 1s, background-position 2s;
  transition: transform 1s, background-position 2s, -webkit-transform 1s;
  margin-left: -0.1px;
}

.slide {
  &__text-box {
    color: #fff;
    font-family: "Josefin Sans";
    font-size: 2.2rem;
    padding: 13rem 3.6rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  &-tittle {
    font-size: 5.4rem;
    margin-bottom: 2.6rem;
    font-family: "Mont";
    position: relative;

    &::after {
      content: ".";
      font-size: 1;
      color: rgba(255, 255, 255, 0);
      position: absolute;
      left: -500%;
      bottom: -6px;
      width: 20%;
      height: 2.4px;
      background-color: rgb(255, 0, 0);
      -webkit-transition: width 0.5s ease, left 1s;
      -o-transition: width 0.5s ease, left 1s;
      transition: width 0.5s ease, left 1s;
    }
  }
  &-text {
    margin-bottom: 1.6rem;
    line-height: 2.4rem;
  }

  &-list {
  }
  &__list-item {
    margin: 0 1.6rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    position: relative;
    &::before {
      content: "*";
      position: absolute;
      -webkit-transform: translateX(-14px);
      -ms-transform: translateX(-14px);
      transform: translateX(-14px);
    }
  }
}
.slide--active {
  .slider-inside {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .slider__inside-prev,
  .slider__inside-next {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .slide__text-box {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .slide-tittle::after {
    left: 0;
  }
}
.slider-inside {
  opacity: 0;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all 1s, opacity 2s;
  -o-transition: all 1s, opacity 2s;
  transition: all 1s, opacity 2s;
}
.slider__inside-prev,
.slider__inside-next {
  opacity: 0;
  -webkit-transform: translateY(500%);
  -ms-transform: translateY(500%);
  transform: translateY(500%);
  -webkit-transition: all 1s, opacity 2s;
  -o-transition: all 1s, opacity 2s;
  transition: all 1s, opacity 2s;
}
.slide__text-box {
  opacity: 0;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all 1s, opacity 2s;
  -o-transition: all 1s, opacity 2s;
  transition: all 1s, opacity 2s;
}
.hero__text--mobile {
  display: none;
  opacity: 0;
}
.hero__arrow-btn--mobile {
  display: none;
  opacity: 0;
}
