.main__right {
  background-image: url("../sourse/img/House.png");
  height: 100vh;
  width: 100%;

  background-position: center;
  background-size: cover;

  position: relative;

  .icon{
    position: absolute;
    color: #fff;
    font-size: 5rem;
  }
  .map-icon{
    right: 1.8rem; top: 1.2rem;
  }
  .sotial_networks{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    bottom: 1.8rem; left: 1.2rem;
  }

  .get_in_touch{
    position: fixed;
    bottom: 1.8rem; right: 1.2rem;
    z-index: 500;
  }
}


.black-btn{
  color: #fff;
  border-radius: 0;
  border: 2px solid white;
  background-color: rgba(80, 80, 80, 0.5);

  font-family:'ducine';
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  margin: 0;
  padding: 0.2rem 2.2rem 0.6rem;

}